<material-button> <!-- version: 20210919 -->

<button if={ !isLink } ref="button" onclick={ onClick }
        class="mdc-button { mdcOptClass } { mdccustom-button-white: isWhite, mdccustom-button-fullwidth: isFullWidth }">
    <div class="mdc-button__ripple"></div>
    <i if={ icon } class="material-icons mdc-button__icon" aria-hidden="true">{ icon }</i>
    <span class="mdc-button__label">{ label }</span>
</button>
<a if={ isLink } ref="button" href={ linkHref } target={ linkTarget }
   class="mdc-button { mdcOptClass } { mdccustom-button-white: isWhite, mdccustom-button-fullwidth: isFullWidth }">
    <div class="mdc-button__ripple"></div>
    <i if={ icon } class="material-icons mdc-button__icon" aria-hidden="true">{ icon }</i>
    <span class="mdc-button__label">{ label }</span>
</a>

<script>
    const loadOpts = () => { // reload_opts="true" にすればupdate時にすべて再読み込みする
        this.label = opts.label || '';
        this.icon = opts.icon || null;
        if (opts.is_outlined) this.mdcOptClass = 'mdc-button--outlined';
        if (opts.is_raised) this.mdcOptClass = 'mdc-button--raised';
        if (opts.is_unelevated) this.mdcOptClass = 'mdc-button--unelevated';
        this.isWhite = Boolean(opts.is_white);
        this.isFullWidth = Boolean(opts.is_fullwidth);
        this.isLink = Boolean(opts.is_link);
        this.onClick = opts.on_click;
        this.linkHref = opts.link_href;
        this.linkTarget = opts.link_target;
        this.isDisabled = Boolean(opts.is_disabled);
    };
    this.setDisabled = (isDisabled) => {
        this.refs.button.disabled = isDisabled;
        this.isDisabled = isDisabled;
    };
    this.setLabel = (label, icon = 'NO_CHANGE') => {
        this.label = label;
        if (icon !== 'NO_CHANGE') this.icon = icon;
        this.update();
    };
    this.on('mount', () => {
        this.refs.button.disabled = this.isDisabled;
        new mdc.ripple.MDCRipple(this.refs.button);
    });
    this.on('update', () => {
        if (opts.reload_opts) {
            loadOpts();
            this.refs.button.disabled = this.isDisabled;
        }
    });
    loadOpts();
</script>

</material-button>
