<material-chip> <!-- version: 20220125 -->

<div ref="chip" class="mdc-chip" onclick={ onClick }>
    <div class="mdc-chip__ripple"></div>
    <i if={ icon } class="material-icons mdc-chip__icon mdc-chip__icon--leading">{ icon }</i>
    <span class="mdc-chip__primary-action">
        <span class="mdc-chip__text">{ label }</span>
    </span>
</div>

<script>
    const loadOpts = () => { // reload_opts="true" にすればupdate時にすべて再読み込みする
        this.label = opts.label || '';
        this.icon = opts.icon || null;
        this.onClick = opts.on_click;
    }
    this.setLabel = (label, icon = 'NO_CHANGE') => {
        this.label = label;
        if (icon !== 'NO_CHANGE') this.icon = icon;
        this.update();
    };
    this.on('mount', () => {
        new mdc.chips.MDCChip(this.refs.chip);
    });
    this.on('update', () => {
        if (opts.reload_opts) loadOpts();
    });
    loadOpts();
</script>

</material-chip>
