material-button {
    .mdc-button {
        vertical-align: middle;
        text-transform: none;
        -webkit-font-smoothing: auto;
        @if $materialFontFamily { font-family: $materialFontFamily; }
        @if $materialFontWeight { font-weight: $materialFontWeight; }
        @include button.height(42px);
        @include button.shape-radius(3px);
        @include button.horizontal-padding(14px);
        @include button.outline-color($accentColor);
        &.mdccustom-button-white {
            --mdc-theme-primary: white;
        }
        &.mdccustom-button-fullwidth {
            box-sizing: border-box;
            width: 100%;
        }
    }
}
