material-tabbar {
    .mdc-tab__text-label {
        text-transform: none;
        -webkit-font-smoothing: auto;
        @if $materialFontFamily { font-family: $materialFontFamily; }
        @if $materialFontWeight { font-weight: $materialFontWeight; }
    }
}
