material-chip {
    .mdc-chip {
        vertical-align: middle;
    }
    .mdc-chip__text {
        -webkit-font-smoothing: auto;
        @if $materialFontFamily { font-family: $materialFontFamily; }
        @if $materialFontWeight { font-weight: $materialFontWeight; }
    }
}
