<material-iconbutton> <!-- version: 20210919 -->

<button if={ !isLink } ref="button" onclick={ onClick }
        class="mdc-icon-button material-icons { mdcOptClass } { mdccustom-iconbutton-white: isWhite }"
        >{ icon }</button>
<a if={ isLink } ref="button" href={ linkHref } target={ linkTarget }
   class="mdc-icon-button material-icons { mdcOptClass } { mdccustom-iconbutton-white: isWhite }"
   >{ icon }</a>

<script>
    const loadOpts = () => { // reload_opts="true" にすればupdate時にすべて再読み込みする
        this.icon = opts.icon || null;
        this.isWhite = Boolean(opts.is_white);
        this.isLink = Boolean(opts.is_link);
        this.onClick = opts.on_click;
        this.linkHref = opts.link_href;
        this.linkTarget = opts.link_target;
        this.isDisabled = Boolean(opts.is_disabled);
    };
    this.setDisabled = (isDisabled) => {
        this.refs.button.disabled = isDisabled;
        this.isDisabled = isDisabled;
    };
    this.setIcon = (icon) => { this.icon = icon; this.update() };
    this.on('mount', () => {
        this.refs.button.disabled = this.isDisabled;
        const ripple = new mdc.ripple.MDCRipple(this.refs.button);
        ripple.unbounded = true;
    });
    this.on('update', () => {
        if (opts.reload_opts) {
            loadOpts();
            this.refs.button.disabled = this.isDisabled;
        }
    });
    loadOpts();
</script>

</material-iconbutton>
