material-textfield {
    .mdc-text-field {
        width: 100%;
        @include textfield.shape-radius(3px);
        @include textfield.outline-shape-radius(4px);
        @include textfield.textarea-shape-radius(4px);
        .mdc-text-field__input,.mdc-floating-label {
            -webkit-font-smoothing: auto;
            @if $materialFontFamily { font-family: $materialFontFamily; }
            @if $materialFontWeight { font-weight: $materialFontWeight; }
        }
        textarea {
            resize: none;
        }
    }
    .mdc-text-field-helper-line {
        margin-bottom: -20px;
        .mdc-text-field-helper-text,.mdc-text-field-character-counter {
            -webkit-font-smoothing: auto;
            @if $materialFontFamily { font-family: $materialFontFamily; }
            @if $materialFontWeight { font-weight: $materialFontWeight; }
        }
    }
}
