<material-radiobuttons> <!-- version: 20201113 -->

<div each={ items } ref={ formFieldRef } class="mdc-form-field { mdccustom-formfield-block: isBlock }">
    <div ref={ radioRef } class="mdc-radio">
        <input ref={ radioInputRef } class="mdc-radio__native-control" type="radio"
               id={ id } value={ value } name={ name } onchange={ onChange }>
        <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
        </div>
        <div class="mdc-radio__ripple"></div>
    </div>
    <label for={ id } class="mdccustom-label">{ label }</label>
</div>

<script>
    const main = () => {
        this.items = deepCopy(opts.items || [{ value: 'value1', label: 'item1' }]);
        const defaultValue = opts.default_value || null;
        this.isBlock = Boolean(opts.is_block);
        const _onChange = opts.on_change || (value => { value });
        for (const item of this.items) {
            const random = generateID(16);
            item.id = random;
            item.formFieldRef = `${random}_formfield`;
            item.radioRef = `${random}_radio`;
            item.radioInputRef = `${random}_radioinput`;
        }
        this.value = this.items[0] ? this.items[0].value : null;
        this.name = generateID(16);

        this.getValue = () => this.value;
        this.setValue = (value) => {
            const item = this.items.find(item => (item.value === value));
            if (!item) return;
            if (item.mdcRadio) {
                item.mdcRadio.checked = true;
                this.value = value;
            }
            else setTimeout(() => {
                if (item.mdcRadio) {
                    item.mdcRadio.checked = true;
                    this.value = value;
                }
            }, 0);
        };

        this.onChange = (event) => {
            const sender = event.target || event.srcElement;
            this.value = sender.value;
            _onChange(this.value);
        };
        this.on('mount', () => {
            for (const item of this.items) {
                item.mdcRadio = new mdc.radio.MDCRadio(this.refs[item.radioRef]);
                const formField = new mdc.formField.MDCFormField(this.refs[item.formFieldRef]);
                formField.input = item.mdcRadio;
            }
            if (defaultValue) this.setValue(defaultValue);
            else if (this.items[0]) this.items[0].mdcRadio.checked = true;
        });
    };
    const generateID = (length) => {
        const CHARS = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
        const CHARS_LENGTH = CHARS.length;
        let code = '';
        for (let i = 0; i < length; i++) code += CHARS[Math.floor(Math.random() * CHARS_LENGTH)];
        return code;
    };
    const deepCopy = (array) => JSON.parse(JSON.stringify(array));
    main();
</script>

</material-radiobuttons>
