<material-switch> <!-- version: 20201113 -->

<div ref="switch" class="mdc-switch">
    <div class="mdc-switch__track"></div>
    <div class="mdc-switch__thumb-underlay">
        <div class="mdc-switch__thumb"></div>
        <input type="checkbox" id={ random + '_switch' } class="mdc-switch__native-control" role="switch"
               aria-checked="false" onchange={ onChange }>
    </div>
</div>
<label for={ random + '_switch' } class="mdccustom-label">{ label }</label>

<script>
    const main = () => {
        this.label = opts.label || '';
        const isDefaultChecked = Boolean(opts.is_checked);
        const _onChange = opts.on_change || (checked => { checked });
        this.random = generateID(16);
        let mdcSwitch = null;

        this.getChecked = () => {
            if (mdcSwitch) return mdcSwitch.checked;
            else return null;
        };
        this.setChecked = (checked) => {
            if (mdcSwitch) mdcSwitch.checked = checked;
            else setTimeout(() => {
                if (mdcSwitch) mdcSwitch.checked = checked;
            }, 0);
        };

        this.onChange = () => { _onChange(mdcSwitch.checked) };
        this.on('mount', () => {
            mdcSwitch = new mdc.switchControl.MDCSwitch(this.refs.switch);
            mdcSwitch.checked = isDefaultChecked;
        });
    };
    const generateID = (length) => {
        const CHARS = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
        const CHARS_LENGTH = CHARS.length;
        let code = '';
        for (let i = 0; i < length; i++) code += CHARS[Math.floor(Math.random() * CHARS_LENGTH)];
        return code;
    };
    main();
</script>

</material-switch>
