material-iconbutton {
    .mdc-icon-button {
        vertical-align: middle;
        @include icon-button.ink-color($accentColor);
        &.mdccustom-iconbutton-white {
            @include icon-button.ink-color(white);
        }
    }
}
