<material-tabbar> <!-- version: 20201113 -->

<div ref="tabbar" class="mdc-tab-bar" role="tablist">
<div class="mdc-tab-scroller">
<div class="mdc-tab-scroller__scroll-area">
<div class="mdc-tab-scroller__scroll-content">
    <button each={ items } class="mdc-tab" role="tab" aria-selected="false" tabindex={ index }>
        <span class="mdc-tab__content">
            <span if={ icon } class="mdc-tab__icon material-icons" aria-hidden="true">{ icon }</span>
            <span class="mdc-tab__text-label">{ label }</span>
        </span>
        <span class="mdc-tab-indicator">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
        </span>
        <span class="mdc-tab__ripple"></span>
    </button>
</div>
</div>
</div>
</div>

<script>
    const main = () => {
        this.items = deepCopy(opts.items || [{ value: 'value1', label: 'item1', icon: 'favorite' }]);
        const defaultValue = opts.default_value || null;
        const onChange = opts.on_change || (value => { value });
        this.items.forEach((item, index) => { item.index = index });
        this.value = this.items[0] ? this.items[0].value : null;
        let mdcTabbar = null;

        this.getValue = () => this.value;
        this.setValue = (value) => {
            const index = value2index(value);
            if (index === -1) return;
            if (mdcTabbar) activateIndex(index);
            else setTimeout(() => {
                if (mdcTabbar) activateIndex(index);
            }, 0);
        };

        const onActivated = ({ detail }) => {
            this.value = this.items[detail.index].value;
            onChange(this.value);
        };
        this.on('mount', () => {
            mdcTabbar = new mdc.tabBar.MDCTabBar(this.refs.tabbar);
            const index = defaultValue ? value2index(defaultValue) : 0;
            activateIndex(index);
            mdcTabbar.listen('MDCTabBar:activated', onActivated);
        });
        const value2index = (value) => this.items.findIndex(item => (item.value === value));
        const activateIndex = (index) => {
            mdcTabbar.activateTab(index);
            mdcTabbar.scrollIntoView(index);
            this.value = this.items[index].value;
        };
    };
    const deepCopy = (array) => JSON.parse(JSON.stringify(array));
    main();
</script>

</material-tabbar>
