material-switch {
    .mdc-switch {
        margin: 13px 0;
        vertical-align: middle;
    }
    .mdccustom-label {
        margin-left: 6px;
        font-size: 16px;
        vertical-align: middle;
        -webkit-font-smoothing: auto;
        @if $materialFontFamily { font-family: $materialFontFamily; }
        @if $materialFontWeight { font-weight: $materialFontWeight; }
    }
}
