.app-page {
    .page-header {
        position: relative;
        .page-icon {
            display: block;
            position: absolute;
            top: 0;
            left: 24px;
            font-size: 24px;
            line-height: 54px;
        }
        .page-title {
            margin: 0;
            padding: 0 0 0 62px;
            height: 54px;
            line-height: 54px;
            font-size: 22px;
            font-weight: $basicFontWeight;
            text-align: left;
            white-space: nowrap;
        }
    }
    .page-content {
        position: relative;
        padding: 10px 10px 80px 10px;
    }
}
