// SweetAlertにclassNameで指定するためのクラス
.swalcustom-singlebutton {
    &.swal-modal {
        border-radius: 3px;
    }
    .swal-title {
        margin: 20px;
        font-size: 20px;
        font-weight: $swalFontWeight;
        color: $color;
    }
    .swal-text {
        font-weight: $swalFontWeight;
        color: $color;
    }
    .swal-button-container {
        display: block;
    }
    .swal-button {
        width: 100%;
        height: 42px;
        font-family: $fontFamily;
        font-weight: $swalFontWeight;
        background-color: $accentColor;
        border-radius: 3px;
        &:hover {
            background-color: lighten($accentColor, 5%);
        }
    }
}
.swalcustom-icon {
    &.swal-modal {
        border-radius: 3px;
    }
    .swal-title {
        margin-bottom: 24px;
        padding-top: 0;
        font-size: 24px;
        font-weight: $swalFontWeight;
        color: $color;
    }
    .swal-text {
        font-weight: $swalFontWeight;
        color: $color;
    }
    .swal-button-container {
        display: block;
    }
    .swal-button {
        width: 100%;
        height: 42px;
        font-family: $fontFamily;
        font-weight: $swalFontWeight;
        background-color: $accentColor;
        border-radius: 3px;
        &:hover {
            background-color: lighten($accentColor, 5%);
        }
    }
}
.swalcustom-justtext {
    &.swal-modal {
        border-radius: 3px;
    }
    .swal-text {
        margin: 24px 0;
        font-weight: $swalFontWeight;
        color: $color;
    }
}
.swalcustom-content .swal-content {
    .title {
        font-size: 19px;
        margin-bottom: 16px;
    }
    .section {
        padding-top: 4px;
        border-top-style: solid;
        border-width: 1px;
        border-color: $bgColor;
    }
    .basic {
        margin: 12px 0;
    }
    .qrcode {
        height: 160px;
        width: 160px;
        margin: 12px auto;
        padding: 10px;
        background-color: white;
        border-radius: 8px;
    }
    .inline-input {
        display: inline-block;
        vertical-align: middle;
        .inline-input-amount {
            width: 50%;
        }
    }
    .text-with-inlineinput {
        display: inline-block;
        padding-top: 12px;
        vertical-align: middle;
    }
    .asset-img {
        display: block;
        max-width: 100%;
        margin: 12px auto;
        border-radius: 3px;
    }
    .gorilla-img {
        display: block;
        width: 80%;
        max-width: 200px;
        margin: 12px auto;
        border-radius: 3px;
    }
    .attrs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
        .attr {
            padding: 4px 8px;
            border-style: solid;
            border-width: 1px;
            border-radius: 3px;
            border-color: $quietColor;
            text-align: left;
            .attr-name {
                font-size: 76%;
                color: $quietColor;
            }
            .attr-value {
                text-align: left;
            }
        }
    }
    .buttons-frame {
        margin: 12px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .bottombutton-frame {
        margin-top: 16px;
    }
}
