<markets-page>

<div class="app-page">
    <div class="page-content">
        <material-tabbar ref="tabbar" items={ TAB_ITEMS } default_value={ tab } on_change={ onChangeTab }></material-tabbar>
        <div>
            <sales-tab if={ tab === TABS.SALES } goto_orderbook={ gotoOrderbook }></sales-tab>
            <offers-tab if={ tab === TABS.OFFERS } goto_orderbook={ gotoOrderbook }></offers-tab>
            <orderbook-tab if={ tab === TABS.ORDERBOOK } base_asset={ asset1 }></orderbook-tab>
        </div>
    </div>
</div>

<script>
    this.TagG = TagG;
    const TABS = this.TABS = { SALES: 'SALES', OFFERS: 'OFFERS', ORDERBOOK: 'ORDERBOOK' };
    this.TAB_ITEMS = [
        { value: TABS.SALES, label: 'SALES', icon: 'shopping_cart' },
        { value: TABS.OFFERS, label: 'OFFERS', icon: 'gavel' },
        { value: TABS.ORDERBOOK, label: 'ORDERBOOK', icon: 'list' },
    ];
    this.tab = opts.tab || TABS.ORDERBOOK;
    this.asset1 = opts.asset1;
    this.onChangeTab = (value) => {
        this.tab = value;
        switch (value) {
            case TABS.SALES:
                route('/sales');
                break;
            case TABS.OFFERS:
                route('/offers');
                break;
            case TABS.ORDERBOOK:
                route('/orderbook');
                break;
        }
        this.update();
        this.asset1 = null;
    };
    this.on('mount', () => {
        this.asset1 = null; // タブ遷移に備えて初回表示後はnullにしておく
    });
    this.gotoOrderbook = (baseAsset) => {
        this.asset1 = baseAsset;
        this.refs.tabbar.setValue(TABS.ORDERBOOK); // onChangeTab呼ばれる
        this.update();
    };
</script>

</markets-page>
