markets-page {
    .app-page {
        .page-content {
            padding: 0 0 80px 0;
        }
    }
    .tabs {
        position: relative;
        text-align: center;
        .tab {
            display: inline-block;
            width: 50%;
            box-sizing: border-box;
            border-width: 1px;
            border-radius: 3px 3px 0 0;
            border-style: solid;
            border-color: #EAEAEA #EAEAEA #CCCCCC #EAEAEA;
            &.selected {
                border-style: solid solid none solid;
                border-color: #CCCCCC;
            }
        }
    }
}
