<offers-tab>

<div class="tab-frame">
    <div class="search-frame">
        <div class="input-frame">
            <material-textfield ref="search_input" hint="Search" on_input={ onInputSearch }></material-textfield>
            <div class="clearbutton-frame"><material-iconbutton icon="clear" on_click={ onClickClearSearchButton }></material-iconbutton></div>
        </div><div class="chips-frame">
            <div each={ searchChips } class="chip-frame"><material-chip label={ label } on_click={ onClick }></material-chip></div>
        </div>
    </div>
    <div class="offers-frame">
        <div each={ offersToShow } class="offers-item clickable" onclick={ onClick }>
            <img class="card-img bg-checker { square: assetInfo.isSquare }" src={ image || noimgImg } loading="lazy">
            <div class="texts">
                <div if={ !assetInfo.group } class="name">{ IS_NOTPC ? assetInfo.shortenName : assetInfo.name }</div>
                <div if={ assetInfo.group } class="name">{ assetInfo.group } <div class="nft-tag"></div></div>
                <div if={ assetInfo.group } class="nft-id quiet">{ IS_NOTPC ? assetInfo.shortenName : assetInfo.name }</div>
                <div class="price">{ priceS }<span class="price-unit"> { TagG.quoteAsset }</span></div>
            </div>
            <div if={ isInWallet } class="opt-icon wallet-icon"><i class="material-icons">account_balance_wallet</i></div>
            <div if={ treasureAmountsS } class="opt-icon attachment-icon"><i class="material-icons">attachment</i></div>
        </div>
    </div>
    <util-spinner ref="spinner"></util-spinner>
</div>

<div ref="swalwindows_container" show={ false }>
    <div ref="sell_window" class="offers-swalwindow sell-window"><div if={ offerData }>
        <div class="title">Sell { offerAssetInfo.group || offerAssetInfo.name } <div if={ offerAssetInfo.group } class="nft-tag"></div></div>
        <div if={ offerAssetInfo.group } class="basic"><i class="material-icons inline-icon">tag</i> { offerAssetInfo.name }</div>
        <img class="asset-img bg-checker" src={ offerData.imageL } loading="lazy">
        <div class="basic"><span class="quiet">Issued:</span> { commafy(offerAssetInfo.issuedAmount) } <i if={ offerAssetInfo.isLocked } class="material-icons inline-icon">lock</i></div>
        <div if={ offerCard } class="basic"><span class="quiet">Monacard:</span> { offerCard.cardName }</div>
        <div if={ offerAssetInfo.appData.rakugakinft } class="basic"><span class="quiet">Rakugaki NFT:</span> { TagG.asset2rakugakiTitle[offerAssetInfo.asset] || 'No Title' }</div>
        <div if={ offerData.treasureAmountsS } class="basic"><span class="quiet">TokenVault:</span> { offerData.treasureAmountsS }</div>
        <div if={ offerCard } class="basic oblique">{ offerCard.description }</div>
        <div if={ offerAssetInfo.appData.attributes } class="basic attrs">
            <div each={ offerAssetInfo.appData.attributes } class="attr"><div class="attr-name">{ name }</div><div class="attr-value">{ value }</div></div>
        </div>
        <div if={ !offerCard && !offerAssetInfo.parsedDesc && offerAssetInfo.description } class="basic oblique">{ offerAssetInfo.description }</div>
        <div class="buttons-frame">
            <material-button label="MPCHAIN" icon="search" is_link="true" link_href={ offerAssetInfo.explorerURL } link_target="_blank" reload_opts="true"></material-button>
            <material-button if={ offerCard } label="Monacard" icon="open_in_new" is_link="true" link_href={ offerCard.siteURL } link_target="_blank" reload_opts="true"></material-button>
            <material-button if={ offerAssetInfo.appData.monacharat } label="MonaCharaT" icon="open_in_new" is_link="true" link_href={ offerAssetInfo.appData.monacharat.url } link_target="_blank" reload_opts="true"></material-button>
            <material-button if={ offerAssetInfo.appData.monacute } label="Monacute" icon="open_in_new" is_link="true" link_href={ offerAssetInfo.appData.monacute.url } link_target="_blank" reload_opts="true"></material-button>
            <material-button if={ offerData.treasureAmountsS } label="TokenVault" icon="open_in_new" is_link="true" link_href={ treasuresURL(saleAssetInfo.asset) } link_target="_blank" reload_opts="true"></material-button>
            <material-button label="Orderbook" icon="list" reload_opts="true" on_click={ gotoOfferAssetOrderbook }></material-button>
        </div>
        <div class="section">
            <div class="basic">
                <span if={ TagG.jp }>1 枚あたり { offerData.priceS }&nbsp;{ TagG.quoteAsset } で { commafy(offerData.amount) }&nbsp;枚まで売れます</span>
                <span if={ !TagG.jp }>You can sell up to { commafy(offerData.amount) } tokens at { offerData.priceS }&nbsp;{ TagG.quoteAsset } per token.</span>
            </div>
            <div if={ !TagG.address } class="basic">{ TagG.jp ? '売買するにはウォレットに接続してください' : 'To trade, connect wallet.' }</div>
            <div if={ TagG.address }>
                <div class="basic"><i class="material-icons inline-icon">account_balance_wallet</i> { commafy(offerAssetBalance) }&nbsp;{ offerAssetInfo.shortenName } / { commafy(quoteAssetBalance) }&nbsp;{ TagG.quoteAsset }</div>
                <div class="basic">
                    <div class="inline-input inline-input-amount"><material-textfield ref="sell_amount" hint="Amount" on_input={ onInputSellAmount }></material-textfield></div>
                    <div class="text-with-inlineinput">tokens</div>
                </div>
                <div class="basic">Total sales: { commafy(sellTotalAmount) }&nbsp;{ TagG.quoteAsset }</div>
            </div>
        </div>
        <div if={ TagG.address } class="bottombutton-frame"><material-button label="Sell" on_click={ onClickSellButton } is_unelevated="true" is_fullwidth="true"></material-button></div>
    </div></div>
</div>

<script>
    this.TagG = TagG;
    const IS_NOTPC = this.IS_NOTPC = (document.body.clientWidth < WIDTH_PC);
    const commafy = this.commafy = Util.commafy;
    const init = () => {
        this.gotoOrderbook = opts.goto_orderbook;
        this.noimgImg = TagG.RELATIVE_URL_BASE + 'img/noimg.png';
        this.offers = [];
        this.offersToShow = [];
        this.searchedQuery = '';
        this.searchChips = [
            { label: 'in Wallet', onClick: () => search('[INWAL]') },
        ];
        if (TagG.query[TagG.QUERYKEY_SEARCH]) {
            this.searchedQuery = decodeURIComponent(TagG.query[TagG.QUERYKEY_SEARCH].replace(/\+/g, ' '));
            delete TagG.query[TagG.QUERYKEY_SEARCH];
        }
    };
    this.treasuresURL = (asset) => TagG.TREASURES_URL_FORMAT.replace('{ASSET}', asset);
    this.onInputSearch = (query) => {
        query = query.trim();
        if (query === this.searchedQuery) return;
        search(query);
    };
    this.onClickClearSearchButton = () => {
        if (this.searchedQuery === '') return;
        search('');
    };
    this.onInputSellAmount = () => {
        setSellTotalAmount();
        this.update();
    };
    this.onClickSellButton = async() => {
        const amount = Number(this.refs.sell_amount.getValue());
        if (isNaN(amount)) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? '数量に変な値が入っています' : 'Invalid amount.', 'error');
        if (amount <= 0) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? '数量は正の値で入力してください' : 'Invalid amount.', 'error');
        const totalAmount = TagG.qty2amount(calcTotalSatToSell(amount), TagG.isQuoteAssetDivisible);
        if (!this.offerAssetInfo.isDivisible && !Number.isInteger(amount)) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? '数量は整数で入力してください' : 'Invalid amount.', 'error');
        if (!TagG.isQuoteAssetDivisible && !Number.isInteger(totalAmount)) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? 'Totalが整数になるように入力してください' : '"Total" must be an integer.', 'error');
        const getSat = TagG.amount2qty(totalAmount, TagG.isQuoteAssetDivisible);
        const giveSat = TagG.amount2qty(amount, this.offerAssetInfo.isDivisible);
        const success = await TagG.aMonapartyOrder(this.offerAssetInfo.asset, giveSat, TagG.quoteAsset, getSat);
        if (!success) return;
        swal.close();
    };
    this.on('mount', async() => {
        TagG.onLoadWalletManually = () => { aShowOffers() };
        if (!TagG.wallet) await TagG.aLoadWallet();
        else if (TagG.address) await TagG.aUpdateBalances();
        await aShowOffers();
    });
    const aShowOffers = async() => {
        try {
            this.refs.spinner.start();
            const params = {
                'order_by': 'block_index',
                'order_dir': 'desc',
                'status': 'open',
                'filters': [
                    { field: 'give_asset', op: '==', value: TagG.quoteAsset },
                    { field: 'get_asset', op: '!=', value: TagG.BASECHAIN_ASSET },
                ],
            };
            const orders = await Monaparty.aPartyTableAll('get_orders', params);
            const assets = orders.map(order => order.get_asset);
            await TagG.aLoadAssets(assets);
            const asset2highestOrder = {};
            for (const order of orders) {
                order.rawPrice = order.give_quantity / order.get_quantity;
                const highestOrder = asset2highestOrder[order.get_asset];
                if (!highestOrder || order.rawPrice > highestOrder.rawPrice) {
                    order.isHighest = true;
                    asset2highestOrder[order.get_asset] = order;
                    if (highestOrder) highestOrder.isHighest = false;
                }
            }
            this.offers = orders.filter(order => order.isHighest).map(order => {
                const assetInfo = TagG.asset2info[order.get_asset];
                const amount = TagG.qty2amount(order.get_remaining, assetInfo.isDivisible); // remainingのほう
                const giveQtyN = BigInt(order.give_quantity);
                const getQtyN = BigInt(order.get_quantity);
                let priceQtyN; // bidの価格は切下げ // 小数計算の誤差を切下げないよう正確に処理
                if (assetInfo.isDivisible) priceQtyN = giveQtyN * BigInt(TagG.SATOSHI_RATIO) / getQtyN;
                else priceQtyN = giveQtyN / getQtyN;
                const priceQty = Number(priceQtyN);
                const price = TagG.qty2amount(priceQty, TagG.isQuoteAssetDivisible);
                const priceS = commafy(price);
                const searchText = getSearchText(assetInfo);
                const image = TagG.getAssetImageURL('auto', assetInfo.asset);
                const imageL = TagG.getAssetImageURL('L', assetInfo.asset);
                let treasureAmountsS = null;
                if (TagG.asset2treasureQtys[assetInfo.asset]) treasureAmountsS = TagG.asset2treasureQtys[assetInfo.asset].
                    map(qty => commafy(TagG.qty2amount(qty, assetInfo.isDivisible))).join(', ');
                const isInWallet = Boolean(TagG.asset2qty[assetInfo.asset]);
                const offer = { assetInfo, price, priceS, amount, searchText, image, imageL, treasureAmountsS, isInWallet };
                offer.onClick = () => { openSellWindow(offer) };
                return offer;
            });
            search(this.searchedQuery);
        }
        catch (error) {
            console.error(error);
            myswal('Error', (TagG.jp ? `データの取得に失敗しました。ヒント: ${error}` : `Failed to fetch data. hint: ${error}`), 'error');
        }
        finally { this.refs.spinner.stop() }
    };
    const openSellWindow = (offer) => {
        this.offerData = offer;
        this.offerAssetInfo = offer.assetInfo;
        this.offerCard = TagG.asset2card[offer.assetInfo.name];
        this.quoteAssetBalance = TagG.qty2amount(TagG.asset2qty[TagG.quoteAsset] || 0, TagG.isQuoteAssetDivisible);
        this.offerAssetBalance = TagG.qty2amount(TagG.asset2qty[this.offerAssetInfo.asset] || 0, this.offerAssetInfo.isDivisible);
        this.gotoOfferAssetOrderbook = () => {
            swal.close();
            this.gotoOrderbook(this.offerAssetInfo.name);
        };
        this.update();
        if (TagG.address) {
            const defaultAmount = Math.min(offer.amount, 1);
            this.refs.sell_amount.setValue(defaultAmount);
            setSellTotalAmount();
            this.update();
        }
        Util.aOpenContentSwal(this.refs.sell_window);
    };
    const setSellTotalAmount = () => {
        const amount = Number(this.refs.sell_amount.getValue());
        if (isNaN(amount)) this.sellTotalAmount = 0;
        else this.sellTotalAmount = TagG.qty2amount(calcTotalSatToSell(amount), TagG.isQuoteAssetDivisible);
    };
    const calcTotalSatToSell = (amount) => {
        let totalSat = TagG.amount2qty(this.offerData.price * amount, TagG.isQuoteAssetDivisible);
        if (this.offerAssetInfo.isDivisible) { // totalSatが切上げられてると約定しないので修正
            const priceSatN = BigInt(TagG.amount2qty(this.offerData.price, TagG.isQuoteAssetDivisible));
            const amountSatN = BigInt(amount * TagG.SATOSHI_RATIO);
            if (priceSatN * amountSatN < BigInt(totalSat) * BigInt(TagG.SATOSHI_RATIO)) totalSat--;
        }
        return totalSat;
    };
    const getSearchText = (assetInfo) => {
        const cardData = TagG.asset2card[assetInfo.name];
        const lockFlag = assetInfo.isLocked ? '[LOCKED]' : '[NLOCKED]';
        const tokenVaultFlag = TagG.asset2treasureQtys[assetInfo.asset] ? '[TVLT]' : '[NTVLT]';
        const inwalletFlag = TagG.asset2qty[assetInfo.asset] ? '[INWAL]' : '[NINWAL]';
        let text = `${assetInfo.name.toLowerCase()} ${assetInfo.name} ${assetInfo.asset} ${assetInfo.owner} ${assetInfo.description} ${lockFlag} ${tokenVaultFlag} ${inwalletFlag}`;
        if (assetInfo.group) text += ` ${assetInfo.group} [NFT]`;
        else text += ` [FT]`;
        if (!cardData) return text;
        text += ` ${cardData.cardName} ${cardData.ownerName} ${cardData.description} ${cardData.tags}`;
        return text;
    };
    const search = (query) => {
        this.searchedQuery = query;
        let isOR = false;
        let words = query.split(/\s+OR\s+/).map(word => word.trim()).filter(word => word);
        if (words.length > 1) isOR = true;
        else words = query.split(/\s+/).filter(word => word);
        let filteredList;
        if (words.length === 0) filteredList = this.offers;
        else {
            if (isOR) {
                filteredList = this.offers.filter(dispenser => {
                    for (const word of words) {
                        if (dispenser.searchText.includes(word)) return true;
                    }
                    return false;
                });
            }
            else {
                filteredList = this.offers.filter(dispenser => {
                    for (const word of words) {
                        if (!dispenser.searchText.includes(word)) return false;
                    }
                    return true;
                });
            }
        }
        if (this.refs.search_input && this.refs.search_input.getValue() !== query) this.refs.search_input.setValue(query);
        setURLQuery(query);
        const FIRST = 30;
        const ONCE = 300;
        this.offersToShow = filteredList.slice(0, FIRST);
        this.update();
        let length = FIRST;
        const showMore = () => {
            if (length >= filteredList.length || query !== this.searchedQuery) return;
            if (!TagG.IS_LAZYLOADAVAILABLE && length > 300) return;
            length += ONCE;
            this.offersToShow = filteredList.slice(0, length);
            this.update();
            setTimeout(showMore, 0);
        };
        setTimeout(showMore, 0);
    };
    const setURLQuery = (query) => {
        const urlObj = new URL(location);
        if (query) urlObj.searchParams.set(TagG.QUERYKEY_SEARCH, query);
        else urlObj.searchParams.delete(TagG.QUERYKEY_SEARCH);
        history.replaceState(null, '', urlObj.toString());
    };
    init();
</script>

</offers-tab>
