offers-tab {
    .tab-frame {
        position: relative;
        padding: 10px 10px 80px 10px;
        min-height: 300px; // spinner位置調整
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: flex-start;
    }
    .search-frame {
        position: relative;
        width: 100%;
        height: 56px;
        .input-frame {
            display: inline-block;
            position: relative;
            width: 400px;
            .clearbutton-frame {
                position: absolute;
                top: 4px;
                right: 4px;
            }
        }
        .chips-frame {
            display: inline-block;
            width: calc(100% - 410px);
            max-height: 56px;
            margin-left: 10px;
            line-height: 56px;
            vertical-align: top;
            overflow: hidden;
            .chip-frame {
                display: inline-block;
                margin-left: 10px;
                vertical-align: middle;
            }
        }
    }
    .offers-frame {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        .offers-item {
            position: relative;
            width: 240px;
            height: calc(240px * 1.4285);
            max-width: calc(33.3vw - 13.5px);
            max-height: calc((33.3vw - 13.5px) * 1.4285);
            border-radius: 3px;
            background-color: $bgColor2;
            overflow: hidden;
            content-visibility: auto;
            .card-img {
                display: block;
                position: absolute;
                box-sizing: border-box;
                top: 0;
                width: 100%;
                border-radius: 3px;
                &.square {
                    margin: 16% 10%;
                    width: 80%;
                }
            }
            .texts {
                position: absolute;
                box-sizing: border-box;
                bottom: 0;
                right: 0;
                width: calc(100% - 8px);
                margin: 4px;
                padding: 6px 8px;
                background-color: rgba($bgColor, 0.5);
                backdrop-filter: blur(2px);
                border-radius: 2px;
                text-align: right;
                .name {
                    font-size: 17px;
                }
                .nft-id {
                    font-size: 12px;
                }
                .price {
                    font-size: 17px;
                    .price-unit {
                        font-size: 76%;
                    }
                }
            }
            .opt-icon {
                position: absolute;
                box-sizing: border-box;
                right: 4px;
                padding: 8px;
                background-color: rgba($bgColor, 0.5);
                backdrop-filter: blur(2px);
                border-radius: 2px;
                .material-icons {
                    font-size: 22px;
                    vertical-align: middle;
                }
            }
            .wallet-icon {
                top: 4px;
            }
            .attachment-icon {
                top: 47px;
            }
        }
    }
    @media screen and (max-width: $pcWidthMinus1) {
        .search-frame {
            height: auto;
            .input-frame {
                width: 100%;
                display: block;
            }
            .chips-frame {
                width: calc(100% + 10px);
                margin: 4px 0 0 -10px;
                max-height: 80px;
                line-height: 40px;
            }
        }
    }
    @media screen and (max-width: $phoneWidth) {
        .offers-frame {
            .offers-item {
                max-width: calc(50vw - 15px);
                max-height: calc((50vw - 15px) * 1.4285);
            }
        }
    }
}
