<orderbook-tab>

<div class="tab-frame">
    <div class="selectmarket-frame">
        <div class="input-frame">
            <material-textfield ref="baseasset_input" hint="Token" on_enter={ onEnterBaseAsset }></material-textfield>
            <div class="enterbutton-frame"><material-iconbutton icon="refresh" on_click={ onEnterBaseAsset }></material-iconbutton></div>
        </div><div class="recents-frame">
            <div each={ base in recentBaseNames } class="chip-frame"><material-chip reload_opts="true" label={ TagG.shortenAsset(base) } on_click={ () => onClickBaseAsset(base) }></material-chip></div>
        </div>
    </div>
    <div class="chart-frame">
        <canvas ref="chart_canvas" width="400" height="406"></canvas>
    </div>
    <div class="depth-frame">
        <div class="labels-row">
            <div class="price-cell">Price<br>[{ TagG.quoteAsset }]</div>
            <div class="amount-cell">Amount<br>[{ baseAssetInfo.shortenName || '---' }]</div>
        </div>
        <div each={ ask, i in asks } class="row ask-row { odd-row: i % 2 === 0 }">
            <div if={ ask.isAuctionDec } class="price-cell">AUCTION COMING</div>
            <div if={ !ask.isAuctionDec } class="price-cell"><span class="clickable" onclick={ ask.onClickPrice }>{ ask.priceS1 }<span if={ ask.priceS2 }>.</span><span if={ ask.priceS2 } class="fracpart { fracpart-zero: ask.isPriceFracZero }"> { ask.priceS2 } { ask.priceS3 }</span></span></div>
            <div class="amount-cell"><span class="clickable" onclick={ ask.onClickAmount }>{ ask.amountS1 }<span if={ ask.amountS2 }>.</span><span if={ ask.amountS2 } class="fracpart { fracpart-zero: ask.isAmountFracZero }"> { ask.amountS2 } { ask.amountS3 }</span></span></div>
        </div>
        <div class="last">
            <span if={ lastPriceS && isLastBuy } class="buy clickable" onclick={ onClickLastPrice }><i class="material-icons icon">arrow_upward</i> { lastPriceS1 }<span if={ lastPriceS2 }>.</span><span if={ lastPriceS2 } class="fracpart { fracpart-zero: isLastPriceFracZero }"> { lastPriceS2 } { lastPriceS3 }</span></span>
            <span if={ lastPriceS && !isLastBuy } class="sell clickable" onclick={ onClickLastPrice }><i class="material-icons icon">arrow_downward</i> { lastPriceS1 }<span if={ lastPriceS2 }>.</span><span if={ lastPriceS2 } class="fracpart { fracpart-zero: isLastPriceFracZero }"> { lastPriceS2 } { lastPriceS3 }</span></span>
        </div>
        <div each={ bid, i in bids } class="row bid-row { odd-row: i % 2 === 0 }">
            <div class="price-cell"><span class="clickable" onclick={ bid.onClickPrice }>{ bid.priceS1 }<span if={ bid.priceS2 }>.</span><span if={ bid.priceS2 } class="fracpart { fracpart-zero: bid.isPriceFracZero }"> { bid.priceS2 } { bid.priceS3 }</span></span></div>
            <div class="amount-cell"><span class="clickable" onclick={ bid.onClickAmount }>{ bid.amountS1 }<span if={ bid.amountS2 }>.</span><span if={ bid.amountS2 } class="fracpart { fracpart-zero: bid.isAmountFracZero }"> { bid.amountS2 } { bid.amountS3 }</span></span></div>
        </div>
    </div>
    <div class="orderform-frame">
        <div class="buysellswitch-frame">
            <div class="buysellswitch-button { selected: isFormBuy, selected-buy: isFormBuy }"><material-button label="Buy" on_click={ onClickBuySwitchButton } is_white="true" is_fullwidth="true"></material-button></div><div class="buysellswitch-button { selected: !isFormBuy, selected-sell: !isFormBuy }"><material-button label="Sell" on_click={ onClickSellSwitchButton } is_white="true" is_fullwidth="true"></material-button></div>
        </div>
        <div class="margin-frame"><i class="material-icons wallet-icon">account_balance_wallet</i> { commafy(baseAssetBalance) }&nbsp;{ baseAssetInfo.shortenName || '---' } / { commafy(quoteAssetBalance) }&nbsp;{ TagG.quoteAsset }</div>
        <div class="margin-frame">
            <material-textfield ref="price_input" hint="Price" on_input={ onChangePriceInput }></material-textfield>
            <div if={ !isFormBuy } class="auction-button"><material-iconbutton icon="gavel" on_click={ onClickAuctionButton }></material-iconbutton></div>
        </div>
        <div class="margin-frame">
            <div><material-textfield ref="amount_input" hint="Amount" on_input={ onChangeAmountInput }></material-textfield></div>
            <div class="max-amount quiet"><span class="clickable" onclick={ onClickMaxAmount }>Max: { commafy(maxAmount) }</span></div>
        </div>
        <div class="margin-frame">Total: { commafy(totalAmount) } { TagG.quoteAsset }</div>
        <div>
            <div if={ isFormBuy } class="buysell-button-frame { buy-button-frame: isOrderable }"><material-button ref="order_button" label="BUY" on_click={ onClickOrderButton } is_white="true" is_fullwidth="true" is_disabled="true"></material-button></div>
            <div if={ !isFormBuy } class="buysell-button-frame { sell-button-frame: isOrderable }"><material-button ref="order_button" label="SELL" on_click={ onClickOrderButton } is_white="true" is_fullwidth="true" is_disabled="true"></material-button></div>
        </div>
        <div if={ !TagG.address } class="orderform-nologin">{ TagG.jp ? '売買するにはウォレットに接続してください' : 'To trade, connect wallet.' }</div>
        <div if={ TagG.address && !baseAssetInfo.name } class="orderform-nologin"></div>
    </div>
    <div class="assetinfo-frame { assetinfo-frame-notpc: IS_NOTPC }">
        <div class="card"><img class="card-img bg-checker" src={ baseAssetImage || TagG.RELATIVE_URL_BASE + 'img/noimg.png' } loading="lazy"></div>
        <div if={ !IS_NOTPC } class="text">
            <div if={ !baseAssetInfo.name } class="basic">{ TagG.jp ? '上の入力欄にトレードしたいトークンを入力してください' : 'Enter the name of token you want to trade in the input box above.' }</div>
            <div if={ baseAssetInfo.name }>
                <div class="name">{ baseAssetInfo.name }</div>
                <div if={ baseAssetInfo.group } class="basic"><span class="quiet">NFT Group:</span> { baseAssetInfo.group }</div>
                <div if={ !baseAssetInfo.parsedDesc && baseAssetInfo.description } class="basic">{ baseAssetInfo.description }</div>
                <div class="basic"><span class="quiet">Issued:</span> { commafy(baseAssetInfo.issuedAmount) } <i if={ baseAssetInfo.isLocked } class="material-icons inline-icon">lock</i></div>
                <div if={ baseAssetInfo.appData?.attributes } class="basic attrs">
                    <div each={ baseAssetInfo.appData.attributes } class="attr"><div class="attr-name">{ name }</div><div class="attr-value">{ value }</div></div>
                </div>
                <div class="button-frame"><material-button label="MPCHAIN" icon="search" is_link="true" link_href={ baseAssetInfo.explorerURL } link_target="_blank" is_fullwidth="true" reload_opts="true"></material-button></div>
            </div>
            <div if={ baseCard } class="additionals">
                <div class="cardname">{ baseCard.cardName }</div>
                <div class="basic"><span class="quiet">by</span> { baseCard.ownerName } <a if={ baseCard.ownerSN } href={ twitterURL(baseCard.ownerSN) } target="_blank">@{ baseCard.ownerSN }</a></div>
                <div class="basic">{ baseCard.description }</div>
                <div class="button-frame"><material-button label="Monacard" icon="open_in_new" is_link="true" link_href={ baseCard.siteURL } link_target="_blank" is_fullwidth="true" reload_opts="true"></material-button></div>
            </div>
            <div if={ baseAssetInfo.appData?.monacharat } class="additionals">
                <div class="basic quiet">MonaCharaT</div>
                <div class="button-frame"><material-button label="MonaCharaT" icon="open_in_new" is_link="true" link_href={ baseAssetInfo.appData.monacharat.url } link_target="_blank" is_fullwidth="true" reload_opts="true"></material-button></div>
            </div>
            <div if={ baseAssetInfo.appData?.rakugakinft } class="additionals">
                <div class="basic quiet">Rakugaki NFT</div>
                <div class="cardname">{ TagG.asset2rakugakiTitle[baseAssetInfo.asset] || 'No Title' }</div>
            </div>
            <div if={ baseAssetInfo.appData?.monacute } class="additionals">
                <div class="basic quiet">Monacute</div>
                <div class="button-frame"><material-button label="Monacute" icon="open_in_new" is_link="true" link_href={ baseAssetInfo.appData.monacute.url } link_target="_blank" is_fullwidth="true" reload_opts="true"></material-button></div>
            </div>
            <div if={ baseTreasureAmountsS } class="additionals">
                <div class="basic"><span class="quiet">TokenVault:</span> { baseTreasureAmountsS }</div>
                <div class="button-frame"><material-button label="TokenVault" icon="open_in_new" is_link="true" link_href={ treasuresURL(baseAssetInfo.asset) } link_target="_blank" is_fullwidth="true" reload_opts="true"></material-button></div>
            </div>
        </div>
        <div if={ IS_NOTPC } class="text">
            <div if={ !baseAssetInfo.name } class="basic">{ TagG.jp ? '上の入力欄にトレードしたいトークンを入力してください' : 'Enter the name of token you want to trade in the input box above.' }</div>
            <div if={ baseAssetInfo.name }>
                <div class="name">{ baseAssetInfo.name }</div>
                <div if={ baseAssetInfo.group } class="basic"><span class="quiet">NFT Group:</span> { baseAssetInfo.group }</div>
                <div if={ !baseAssetInfo.parsedDesc && baseAssetInfo.description } class="basic">{ baseAssetInfo.description }</div>
                <div class="basic"><span class="quiet">Issued:</span> { commafy(baseAssetInfo.issuedAmount) } <i if={ baseAssetInfo.isLocked } class="material-icons inline-icon">lock</i></div>
                <div if={ baseCard } class="basic"><span class="quiet">Monacard:</span> { baseCard.cardName }</div>
                <div if={ baseAssetInfo.appData?.rakugakinft } class="basic"><span class="quiet">Rakugaki NFT:</span> { TagG.asset2rakugakiTitle[baseAssetInfo.asset] || 'No Title' }</div>
                <div if={ baseTreasureAmountsS } class="basic"><span class="quiet">TokenVault:</span> { baseTreasureAmountsS }</div>
                <div if={ baseAssetInfo.appData?.attributes } class="basic attrs">
                    <div each={ baseAssetInfo.appData.attributes } class="attr"><div class="attr-name">{ name }</div><div class="attr-value">{ value }</div></div>
                </div>
                <div class="button-frame"><material-button label="MPCHAIN" icon="search" is_link="true" link_href={ baseAssetInfo.explorerURL } link_target="_blank" is_fullwidth="true" reload_opts="true"></material-button></div>
                <div if={ baseCard } class="button-frame"><material-button label="Monacard" icon="open_in_new" is_link="true" link_href={ baseCard.siteURL } link_target="_blank" is_fullwidth="true" reload_opts="true"></material-button></div>
                <div if={ baseAssetInfo.appData?.monacharat } class="button-frame"><material-button label="MonaCharaT" icon="open_in_new" is_link="true" link_href={ baseAssetInfo.appData.monacharat.url } link_target="_blank" is_fullwidth="true" reload_opts="true"></material-button></div>
                <div if={ baseAssetInfo.appData?.monacute } class="button-frame"><material-button label="Monacute" icon="open_in_new" is_link="true" link_href={ baseAssetInfo.appData.monacute.url } link_target="_blank" is_fullwidth="true" reload_opts="true"></material-button></div>
                <div if={ baseTreasureAmountsS } class="button-frame"><material-button label="TokenVault" icon="open_in_new" is_link="true" link_href={ treasuresURL(baseAssetInfo.asset) } link_target="_blank" is_fullwidth="true" reload_opts="true"></material-button></div>
            </div>
        </div>
    </div>
    <div class="myorders-frame">
        <div class="myorders-tabbar">
            <material-tabbar items={ MYORDER_TABITEMS } default_value={ myOrdersTab } on_change={ onChangeMyOrdersTab }></material-tabbar>
            <div class="update-button"><material-iconbutton icon="refresh" on_click={ onClickMyOrdersUpdateButton }></material-iconbutton></div>
        </div>
        <div if={ myOrdersTab === MYORDER_TABS.OPEN }>
            <div class="labels-row quiet">
                <div class="cell open-asset-cell">Token</div>
                <div class="cell open-side-cell">Side</div>
                <div class="cell open-price-cell">Price</div>
                <div class="cell open-amount-cell">Filled&nbsp;amount / Order&nbsp;amount</div>
                <div class="cell open-cancel-cell"></div>
            </div>
            <div each={ o, i in openOrders } class="row { even-row: i % 2 === 1 }">
                <div class="cell open-asset-cell"><span class="clickable" onclick={ () => onClickBaseAsset(o.assetName) }>{ TagG.shortenAsset(o.assetName) }</span></div>
                <div class="cell open-side-cell { buy: o.isBuy, sell: !o.isBuy }">{ o.side }</div>
                <div class="cell open-price-cell">{ commafy(o.price) }</div>
                <div class="cell open-amount-cell">{ commafy(o.filledAmount) } / { commafy(o.orderAmount) }</div>
                <div class="cell open-cancel-cell"><material-button label="Cancel" is_fullwidth="true" reload_opts="true" on_click={ o.onClickCancelButton }></material-button></div>
            </div>
            <div if={ myOrdersLoadFailed } class="message">Failed to load</div>
            <div if={ openOrders.length === 0 } class="message">No open orders</div>
        </div>
        <div if={ myOrdersTab === MYORDER_TABS.HISTORY }>
            <div class="labels-row quiet">
                <div class="cell history-asset-cell">Token</div>
                <div class="cell history-side-cell">Side</div>
                <div class="cell history-price-cell">Price</div>
                <div class="cell history-amount-cell">Filled&nbsp;amount / Order&nbsp;amount</div>
                <div class="cell history-status-cell">Status</div>
            </div>
            <div each={ h, i in orderHistory } class="row { even-row: i % 2 === 1 }">
                <div class="cell history-asset-cell"><span class="clickable" onclick={ () => onClickBaseAsset(h.assetName) }>{ TagG.shortenAsset(h.assetName) }</span></div>
                <div class="cell history-side-cell { buy: h.isBuy, sell: !h.isBuy }">{ h.side }</div>
                <div class="cell history-price-cell">{ commafy(h.price) }</div>
                <div class="cell history-amount-cell">{ commafy(h.filledAmount) } / { commafy(h.orderAmount) }</div>
                <div class="cell history-status-cell">{ h.status }</div>
            </div>
            <div if={ myOrdersLoadFailed } class="message">Failed to load</div>
            <div if={ orderHistory.length === 0 } class="message">No order history</div>
        </div>
        <util-spinner ref="myorders_spinner"></util-spinner>
    </div>
    <div if={ auctions.length } class="auctions-frame">
        <div class="title"><i class="material-icons inline-icon">gavel</i> Auctions</div>
        <div class="auction-items">
            <div each={ auctions } class="auction-item clickable" onclick={ () => onClickBaseAsset(assetName) }>
                <img if={ image } class="image bg-checker" src={ image } loading="lazy">
                <div if={ !image } class="label">{ assetName }</div>
            </div>
        </div>
    </div>
</div>

<script>
    this.TagG = TagG;
    const IS_NOTPC = this.IS_NOTPC = (document.body.clientWidth < WIDTH_PC);
    const RECENT_BASEASSETS = 20;
    const MIN_DEPTH_ROWS = IS_NOTPC ? 4 : 8;
    const MAX_DEPTH_ROWS = IS_NOTPC ? 4 : 20;
    const MYORDER_TABS = this.MYORDER_TABS = { OPEN: 'OPEN', HISTORY: 'HISTORY' };
    const defaultCommafy = this.commafy = Util.commafy;
    const decimalCommafy = (num) => Util.commafy(num, { decimal: TagG.SATOSHI_DECIMAL, removeDecimalZero: false });
    const init = () => {
        this.MYORDER_TABITEMS = [
            { value: MYORDER_TABS.OPEN, label: 'Open Orders' },
            { value: MYORDER_TABS.HISTORY, label: 'Order History' },
        ];
        this.recentBaseNames = Util.loadStorage(TagG.STORAGEKEY_RECENTBASES) || [];
        this.initBaseAsset = opts.base_asset;
        this.baseAssetInfo = {};
        this.asks = [];
        this.bids = [];
        this.openOrders = [];
        this.orderHistory = [];
        this.auctions = [];
        while (this.asks.length < MIN_DEPTH_ROWS) this.asks.unshift({});
        while (this.bids.length < MIN_DEPTH_ROWS) this.bids.push({});
        this.isFormBuy = true;
        this.baseAssetBalance = 0;
        this.quoteAssetBalance = 0;
        this.totalAmount = 0;
        this.myOrdersTab = MYORDER_TABS.OPEN;
    };
    this.twitterURL = (userSN) => TagG.TWITTER_USERURL_FORMAT.replace('{SN}', userSN);
    this.treasuresURL = (asset) => TagG.TREASURES_URL_FORMAT.replace('{ASSET}', asset);
    this.onEnterBaseAsset = () => {
        const inputAssetName = this.refs.baseasset_input.getValue().trim();
        if (!inputAssetName) return;
        aShowMarket(inputAssetName);
    };
    this.onClickBaseAsset = (baseName) => {
        aShowMarket(baseName);
        this.refs.baseasset_input.focus();
        try { scrollTo({ left: 0, top: 0, behavior: 'smooth' }) }
        catch (error) { scrollTo(0, 0) }
    };
    this.onClickLastPrice = () => { if (this.lastPriceS) setPrice(this.lastPrice) };
    this.onClickAuctionButton = () => { setPrice(TagG.AUCTIONFLAG_PRICE) };
    this.onClickMaxAmount = () => { setAmount(this.maxAmount) };
    this.onChangePriceInput = () => { onChangeOrderInputs() };
    this.onChangeAmountInput = () => { onChangeOrderInputs() };
    this.onClickBuySwitchButton = () => {
        this.isFormBuy = true;
        this.update();
        onChangeOrderInputs();
    };
    this.onClickSellSwitchButton = () => {
        this.isFormBuy = false;
        this.update();
        onChangeOrderInputs();
    };
    this.onClickOrderButton = async() => {
        const price = Number(this.refs.price_input.getValue());
        const amount = Number(this.refs.amount_input.getValue());
        if (isNaN(price)) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? '価格に変な値が入っています' : 'Invalid price.', 'error');
        if (isNaN(amount)) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? '数量に変な値が入っています' : 'Invalid amount.', 'error');
        if (price <= 0) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? '価格は正の値で入力してください' : 'Invalid price.', 'error');
        if (amount <= 0) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? '数量は正の値で入力してください' : 'Invalid amount.', 'error');
        const totalAmount = price * amount;
        if (!this.baseAssetInfo.isDivisible && !Number.isInteger(amount)) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? '数量は整数で入力してください' : 'Invalid amount.', 'error');
        if (!TagG.isQuoteAssetDivisible && !Number.isInteger(totalAmount)) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? 'Totalが整数になるように入力してください' : '"Total" must be an integer.', 'error');
        let success;
        if (this.isFormBuy) {
            const giveSat = TagG.amount2qty(totalAmount, TagG.isQuoteAssetDivisible);
            const getSat = TagG.amount2qty(amount, this.baseAssetInfo.isDivisible);
            success = await TagG.aMonapartyOrder(TagG.quoteAsset, giveSat, this.baseAssetInfo.asset, getSat);
        }
        else {
            const giveSat = TagG.amount2qty(amount, this.baseAssetInfo.isDivisible);
            const getSat = TagG.amount2qty(totalAmount, TagG.isQuoteAssetDivisible);
            success = await TagG.aMonapartyOrder(this.baseAssetInfo.asset, giveSat, TagG.quoteAsset, getSat);
        }
        if (!success) return;
        this.refs.amount_input.setValue('');
        onChangeOrderInputs();
    };
    this.onChangeMyOrdersTab = (value) => {
        this.myOrdersTab = value;
        this.update();
    };
    this.onClickMyOrdersUpdateButton = () => { aShowMyOrders() };
    this.on('mount', async() => {
        createChart();
        TagG.onLoadWalletManually = () => {
            aShowMyOrders();
            if (this.baseAssetInfo.name) aShowMarket(this.baseAssetInfo.name);
        };
        if (!TagG.wallet) await TagG.aLoadWallet();
        else if (TagG.address) await TagG.aUpdateBalances();
        if (TagG.address) aShowMyOrders();
        aShowAuctions();
        if (this.initBaseAsset) await aShowMarket(this.initBaseAsset);
        await Util.aSleep(100);
        if (this.refs.baseasset_input) this.refs.baseasset_input.focus();
    });
    const onChangeOrderInputs = () => {
        const price = Number(this.refs.price_input.getValue());
        const amount = Number(this.refs.amount_input.getValue());
        if (isNaN(price) || isNaN(amount)) this.totalAmount = 0;
        else this.totalAmount = Util.round(price * amount, TagG.SATOSHI_DECIMAL);
        if (TagG.address && this.totalAmount > 0) {
            this.isOrderable = true;
            this.refs.order_button.setDisabled(false);
        }
        else {
            this.isOrderable = false;
            this.refs.order_button.setDisabled(true);
        }
        setBaseQuoteBalances();
        setMaxAmount();
        this.update();
    };
    const aShowMarket = async(inputAssetName) => {
        try {
            if (inputAssetName === TagG.quoteAsset) return;
            if (inputAssetName === TagG.BASECHAIN_ASSET) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? `${inputAssetName}はDEXでは取扱えません` : `${inputAssetName} is not available at DEX.`, 'error');
            TagG.bodySpinner.start();
            await TagG.aLoadAssets([inputAssetName]);
            const baseAssetInfo = TagG.asset2info[inputAssetName];
            if (!baseAssetInfo) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? `${inputAssetName}というトークンはありません` : `There is no token named ${inputAssetName}`, 'error');
            this.baseAssetInfo = baseAssetInfo;
            this.baseCard = TagG.asset2card[baseAssetInfo.name];
            await Promise.all([aShowDepth(), aShowChart()]);
            setBaseQuoteBalances();
            setMaxAmount();
            addRecentBase();
            this.baseAssetImage = TagG.getAssetImageURL('L', this.baseAssetInfo.asset);
            this.baseTreasureAmountsS = null;
            if (TagG.asset2treasureQtys[baseAssetInfo.asset]) this.baseTreasureAmountsS = TagG.asset2treasureQtys[baseAssetInfo.asset].
                map(qty => defaultCommafy(TagG.qty2amount(qty, baseAssetInfo.isDivisible))).join(', ');
            this.update();
            this.refs.baseasset_input.setValue(inputAssetName);
            route(`/orderbook/${encodeURIComponent(this.baseAssetInfo.name)}`);
        }
        catch (error) {
            console.error(error);
            myswal('Error', (TagG.jp ? `データの取得に失敗しました。ヒント: ${error}` : `Failed to fetch data. hint: ${error}`), 'error');
        }
        finally { TagG.bodySpinner.stop() }
    };
    const aShowDepth = async() => {
        const marketParams = { 'asset1': this.baseAssetInfo.asset, 'asset2': TagG.quoteAsset };
        const marketDetail = await Monaparty.aBlock('get_market_details', marketParams);
        this.asks = marketDetail.sell_orders
            .map(order => parseDepthOrder(order, marketDetail.base_asset_divisible, marketDetail.quote_asset_divisible))
            .sort(sortByPriceDesc)
            .slice(-MAX_DEPTH_ROWS);
        this.bids = marketDetail.buy_orders
            .map(order => parseDepthOrder(order, marketDetail.base_asset_divisible, marketDetail.quote_asset_divisible))
            .sort(sortByPriceDesc)
            .slice(0, MAX_DEPTH_ROWS);
        while (this.asks.length < MIN_DEPTH_ROWS) this.asks.unshift({});
        while (this.bids.length < MIN_DEPTH_ROWS) this.bids.push({});
        if (this.asks.length % 2) this.asks.unshift({}); // 偶数にする
        if (this.bids.length % 2) this.bids.push({});
        if (marketDetail.last_trades.length === 0) this.lastPriceS = null;
        else {
            const lastTrade = marketDetail.last_trades.reduce((lastTrade, trade) => (trade.block_time > lastTrade.block_time ? trade : lastTrade));
            this.lastPrice = lastTrade.price;
            if (marketDetail.quote_asset_divisible) {
                this.lastPriceS = decimalCommafy(lastTrade.price);
                this.lastPriceS1 = this.lastPriceS.slice(0, -9);
                this.lastPriceS2 = this.lastPriceS.slice(-8, -4);
                this.lastPriceS3 = this.lastPriceS.slice(-4);
                this.isLastPriceFracZero = (this.lastPriceS2 === '0000' && this.lastPriceS3 === '0000');
            }
            else {
                this.lastPriceS = defaultCommafy(lastTrade.price);
                this.lastPriceS1 = this.lastPriceS;
                this.lastPriceS2 = this.lastPriceS3 = null;
            }
            this.isLastBuy = (lastTrade.type === 'BUY');
        }
    };
    const aShowChart = async() => {
        const priceHistoryParams = { 'asset1': this.baseAssetInfo.asset, 'asset2': TagG.quoteAsset, 'as_dict': true };
        const priceHistory = await Monaparty.aBlock('get_market_price_history', priceHistoryParams) || [];
        const priceData = priceHistory.map(tick => ({ t: new Date(tick.interval_time), y: tick.close }));
        const volumeData = priceHistory.map(tick => ({ t: new Date(tick.interval_time), y: tick.vol }));
        const volumeMin = priceHistory.reduce((min, tick) => (tick.vol < min ? tick.vol : min), Number.POSITIVE_INFINITY);
        const volumeMax = priceHistory.reduce((max, tick) => (tick.vol > max ? tick.vol : max), 0);
        const volumeBase = Math.sqrt((volumeMin + volumeMax) / 2);
        const volumeSizes = priceHistory.map(tick => (1 + Math.sqrt(tick.vol) / volumeBase * 10));
        this.chart.data.datasets[0].data = priceData;
        this.chart.data.datasets[1].data = volumeData;
        this.chart.data.datasets[1].pointRadius = volumeSizes;
        this.chart.update();
    };
    const aShowMyOrders = async() => {
        if (!TagG.address) return;
        try {
            this.refs.myorders_spinner.start();
            const params = {
                'filters': [{ field: 'source', op: '==', value: TagG.address }],
                'order_by': 'block_index',
                'order_dir': 'desc',
            };
            const myOrders = await Monaparty.aParty('get_orders', params);
            const assets = [];
            for (const order of myOrders) assets.push(order.give_asset, order.get_asset);
            await TagG.aLoadAssets(assets);
            this.orderHistory = myOrders.
                filter(order => (order.give_asset === TagG.quoteAsset || order.get_asset === TagG.quoteAsset)).
                map(order => parseMyOrder(order));
            this.openOrders = this.orderHistory.filter(order => order.status === 'open');
            this.update();
        }
        catch (error) {
            console.error(error);
            this.myOrdersLoadFailed = true;
            this.update();
        }
        finally { this.refs.myorders_spinner.stop() }
    };
    const aShowAuctions = async() => {
        try {
            const params = {
                'order_by': 'block_index',
                'order_dir': 'desc',
                'status': 'open',
                'filters': [
                    { field: 'get_asset', op: '==', value: TagG.quoteAsset },
                    { field: 'give_asset', op: '!=', value: TagG.BASECHAIN_ASSET },
                    { field: 'get_quantity', op: '>=', value: TagG.amount2qty(TagG.AUCTIONFLAG_PRICE, TagG.isQuoteAssetDivisible) },
                ],
            };
            const auctionOrders = await Monaparty.aParty('get_orders', params);
            const assets = auctionOrders.map(order => order.give_asset);
            await TagG.aLoadAssets(assets);
            const asset2is = {};
            this.auctions = auctionOrders.filter(order => {
                if (asset2is[order.give_asset]) return false;
                const assetInfo = TagG.asset2info[order.give_asset];
                const getAmount = TagG.qty2amount(order.get_quantity, TagG.isQuoteAssetDivisible)
                const giveAmount = TagG.qty2amount(order.give_quantity, assetInfo.isDivisible);
                const price = Math.round(getAmount / giveAmount);
                if (price !== TagG.AUCTIONFLAG_PRICE) return false;
                asset2is[order.give_asset] = true;
                return true;
            }).map(order => parseAuctionOrders(order));
            this.update();
        }
        catch (error) { console.error(error) }
    };
    const createChart = () => {
        Chart.defaults.global.defaultColor = 'rgba(255, 255, 255, 0.8)';
        Chart.defaults.global.defaultFontColor = 'rgba(255, 255, 255, 0.8)';
        Chart.defaults.global.defaultFontFamily = "'M PLUS Rounded 1c', sans-serif";
        const context = this.refs.chart_canvas.getContext('2d');
        this.chart = new Chart(context, {
            data: {
                datasets: [{
                    label: 'Price',
                    type: 'line',
                    backgroundColor: 'rgba(255, 140, 0, 0.4)',
                    borderColor: 'rgba(255, 140, 0, 1.0)',
                    borderJoinStyle: 'round',
                    lineTension: 0,
                    fill: false,
                    yAxisID: 'price_axis',
                    data: [],
                }, {
                    label: 'Volume',
                    type: 'line',
                    backgroundColor: 'rgba(140, 255, 0, 0.4)',
                    borderColor: 'rgba(140, 255, 0, 1.0)',
                    pointRadius: [],
                    lineTension: 0,
                    fill: false,
                    showLine: false,
                    yAxisID: 'volume_axis',
                    data: [],
                }],
            },
            options: {
                maintainAspectRatio: false,
                legend: { onClick: null },
                scales: {
                    xAxes: [{
                        type: 'time',
                        distribution: 'linear',
                        time: {
                            minUnit: 'hour',
                            displayFormats: {
                                hour: 'MM/DD HH:mm',
                                day: 'MM/DD',
                                week: 'MM/DD',
                                month: 'YYYY/MM/DD',
                            },
                        },
                        gridLines: {
                            color: 'rgba(255, 255, 255, 0.1)',
                            zeroLineColor: 'rgba(255, 255, 255, 0.1)',
                        },
                    }],
                    yAxes: [{
                        id: 'price_axis',
                        position: 'right',
                        ticks: { beginAtZero: true },
                        gridLines: {
                            color: 'rgba(255, 255, 255, 0.1)',
                            zeroLineColor: 'rgba(255, 255, 255, 0.1)',
                        },
                    }, {
                        id: 'volume_axis',
                        display: false,
                        ticks: { beginAtZero: true },
                        gridLines: {
                            drawOnChartArea: false,
                            color: 'rgba(255, 255, 255, 0.1)',
                            zeroLineColor: 'rgba(255, 255, 255, 0.1)',
                        },
                    }],
                }
            }
        });
    };
    const setBaseQuoteBalances = () => {
        if (!TagG.address) return;
        this.baseAssetBalance = TagG.qty2amount(TagG.asset2qty[this.baseAssetInfo.asset] || 0, this.baseAssetInfo.isDivisible);
        this.quoteAssetBalance = TagG.qty2amount(TagG.asset2qty[TagG.quoteAsset] || 0, TagG.isQuoteAssetDivisible);
    };
    const setMaxAmount = () => {
        if (this.isFormBuy) {
            const price = Number(this.refs.price_input.getValue());
            if (price > 0) this.maxAmount = this.baseAssetInfo.isDivisible?
                Math.floor(this.quoteAssetBalance / price * TagG.SATOSHI_RATIO) / TagG.SATOSHI_RATIO:
                Math.floor(this.quoteAssetBalance / price);
            else this.maxAmount = 0;
        }
        else this.maxAmount = this.baseAssetBalance;
    };
    const addRecentBase = () => {
        const baseName = this.baseAssetInfo.name;
        const index = this.recentBaseNames.findIndex(base => (base === baseName));
        if (index >= 0) this.recentBaseNames.splice(index, 1);
        this.recentBaseNames.unshift(baseName);
        this.recentBaseNames = this.recentBaseNames.slice(0, RECENT_BASEASSETS);
        Util.saveStorage(TagG.STORAGEKEY_RECENTBASES, this.recentBaseNames);
    };
    const parseDepthOrder = (order, baseDivisible, quoteDivisible) => {
        const price = Number(order.price);
        const amount = TagG.qty2amount(order.amount, baseDivisible);
        let priceS1, priceS2, priceS3, amountS1, amountS2, amountS3, isPriceFracZero, isAmountFracZero;
        if (quoteDivisible) {
            const priceS = decimalCommafy(price);
            priceS1 = priceS.slice(0, -9);
            priceS2 = priceS.slice(-8, -4);
            priceS3 = priceS.slice(-4);
            isPriceFracZero = (priceS2 === '0000' && priceS3 === '0000');
        }
        else priceS1 = defaultCommafy(price);
        if (baseDivisible) {
            const amountS = decimalCommafy(amount);
            amountS1 = amountS.slice(0, -9);
            amountS2 = amountS.slice(-8, -4);
            amountS3 = amountS.slice(-4);
            isAmountFracZero = (amountS2 === '0000' && amountS3 === '0000');
        }
        else amountS1 = defaultCommafy(amount);
        const isAuctionDec = (price === TagG.AUCTIONFLAG_PRICE);
        return {
            price, amount, priceS1, priceS2, priceS3, amountS1, amountS2, amountS3,
            isPriceFracZero, isAmountFracZero, isAuctionDec,
            onClickPrice: () => setPrice(price),
            onClickAmount: () => setAmount(amount),
        };
    };
    const parseMyOrder = (order) => {
        const isBuy = (order.give_asset === TagG.quoteAsset);
        let assetInfo, side, filledAmount, orderAmount, price;
        if (isBuy) {
            assetInfo = TagG.asset2info[order.get_asset];
            side = 'Buy';
            filledAmount = TagG.qty2amount(order.get_quantity - order.get_remaining, assetInfo.isDivisible);
            orderAmount = TagG.qty2amount(order.get_quantity, assetInfo.isDivisible);
            const orderTotal = TagG.qty2amount(order.give_quantity, TagG.isQuoteAssetDivisible);
            price = Util.round(orderTotal / orderAmount, TagG.SATOSHI_DECIMAL);
        }
        else {
            assetInfo = TagG.asset2info[order.give_asset];
            side = 'Sell';
            filledAmount = TagG.qty2amount(order.give_quantity - order.give_remaining, assetInfo.isDivisible);
            orderAmount = TagG.qty2amount(order.give_quantity, assetInfo.isDivisible);
            const orderTotal = TagG.qty2amount(order.get_quantity, TagG.isQuoteAssetDivisible);
            price = Util.round(orderTotal / orderAmount, TagG.SATOSHI_DECIMAL);
        }
        return {
            isBuy, side, price, filledAmount, orderAmount,
            assetName: assetInfo.name,
            status: order.status,
            onClickCancelButton: () => TagG.aMonapartyCancel(order.tx_hash),
        };
    };
    const parseAuctionOrders = (order) => {
        const assetInfo = TagG.asset2info[order.give_asset];
        return {
            assetName: assetInfo.name,
            image: TagG.getAssetImageURL('M', assetInfo.asset),
        };
    };
    const setPrice = (price) => {
        const noExpPrice = defaultCommafy(price).replace(/,/g, '');
        this.refs.price_input.setValue(noExpPrice);
        onChangeOrderInputs();
    };
    const setAmount = (amount) => {
        const noExpAmount = defaultCommafy(amount).replace(/,/g, '');
        this.refs.amount_input.setValue(noExpAmount);
        onChangeOrderInputs();
    };
    const sortByPriceDesc = (a, b) => (a.price < b.price ? 1 : -1);
    init();
</script>

</orderbook-tab>
