orderbook-tab {
    .tab-frame {
        position: relative;
        padding: 10px 10px 80px 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: flex-start;
    }
    .selectmarket-frame {
        position: relative;
        width: 100%;
        height: 56px;
        .input-frame {
            display: inline-block;
            position: relative;
            width: 300px;
            .enterbutton-frame {
                position: absolute;
                top: 4px;
                right: 4px;
            }
        }
        .recents-frame {
            display: inline-block;
            width: calc(100% - 310px);
            max-height: 56px;
            margin-left: 10px;
            line-height: 56px;
            vertical-align: top;
            overflow: hidden;
            .chip-frame {
                display: inline-block;
                margin-left: 10px;
                vertical-align: middle;
            }
        }
    }
    .chart-frame {
        position: relative;
        box-sizing: border-box;
        width: calc(40% - 20px);
        background-color: $bgColor2;
        border-radius: 4px;
    }
    .depth-frame {
        position: relative;
        box-sizing: border-box;
        width: 35%;
        background-color: $bgColor2;
        border-radius: 4px;
        font-size: 14px;
        line-height: 20px;
        .price-cell {
            box-sizing: border-box;
            padding: 0 2px;
            width: 50%;
            text-align: right;
            border-right-style: solid;
            border-width: 1px;
            border-color: rgba(white, 0.06);
        }
        .amount-cell {
            box-sizing: border-box;
            padding: 0 2px;
            width: 50%;
            text-align: right;
        }
        .labels-row {
            position: relative;
            display: flex;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: rgba(white, 0.06);
        }
        .row {
            position: relative;
            display: flex;
            min-height: 20px;
            &.odd-row {
                background-color: rgba($bgColor, 0.7);
            }
            .fracpart {
                font-size: 11px;
                &.fracpart-zero {
                    opacity: 0.4;
                }
            }
        }
        .ask-row {
            .price-cell {
                color: $sellColor;
            }
        }
        .bid-row {
            .price-cell {
                color: $buyColor;
            }
        }
        .last {
            min-height: 42px;
            font-size: 20px;
            line-height: 40px;
            text-align: left;
            border-style: solid none;
            border-width: 1px;
            border-color: rgba(white, 0.06);
            padding-left: 10%;
            .buy {
                color: $buyColor;
            }
            .sell {
                color: $sellColor;
            }
            .icon {
                vertical-align: middle;
            }
            .fracpart {
                font-size: 14px;
                &.fracpart-zero {
                    opacity: 0.4;
                }
            }
        }
    }
    .orderform-frame {
        position: relative;
        box-sizing: border-box;
        width: 25%;
        background-color: $bgColor2;
        border-radius: 4px;
        text-align: center;
        .orderform-nologin {
            position: absolute;
            box-sizing: border-box;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 180px 10px 0 10px;
            background-color: rgba($bgColor2, 0.8);
        }
        .buysellswitch-frame {
            position: relative;
            border-radius: 3px;
            overflow: hidden;
            .buysellswitch-button {
                display: inline-block;
                width: 50%;
                background-color: rgba($bgColor, 0.7);
                &.selected {
                    border-top-style: solid;
                    border-width: 2px;
                    box-sizing: border-box;
                    background-color: $bgColor2;
                }
                &.selected-buy {
                    border-color: $buyColor;
                }
                &.selected-sell {
                    border-color: $sellColor;
                }
            }
        }
        .margin-frame {
            position: relative;
            margin: 20px 10px;
        }
        .buysell-button-frame {
            margin: 10px;
            border-radius: 3px;
            background-color: rgba($bgColor, 0.7);
            &.buy-button-frame {
                background-color: $buyColor;
            }
            &.sell-button-frame {
                background-color: $sellColor;
            }
        }
        .wallet-icon {
            vertical-align: middle;
            font-size: 20px;
            margin-right: 4px;
        }
        .max-amount {
            padding-left: 16px;
            font-size: 12px;
            text-align: left;
        }
        .auction-button {
            position: absolute;
            top: 4px;
            right: 4px;
        }
    }
    .assetinfo-frame {
        position: relative;
        display: flex;
        box-sizing: border-box;
        width: calc(50% - 10px);
        background-color: $bgColor2;
        border-radius: 4px;
        overflow: hidden;
        .card {
            display: flex;
            align-items: center;
            width: 320px;
            max-width: 50%;
            background-color: black;
            .card-img {
                max-width: 100%;
            }
        }
        .text {
            width: calc(100% - 320px);
            min-width: 50%;
            .name {
                font-size: 24px;
                margin: 10px;
            }
            .cardname {
                font-size: 22px;
                margin: 10px;
            }
            .basic {
                margin: 10px;
            }
            .button-frame {
                margin: 10px;
                text-align: center;
            }
            .additionals {
                border-top-style: solid;
                border-width: 1px;
                border-color: $bgColor;
            }
            .attrs {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 10px;
                .attr {
                    padding: 4px 8px;
                    border-style: solid;
                    border-width: 1px;
                    border-radius: 3px;
                    border-color: $quietColor;
                    text-align: left;
                    .attr-name {
                        font-size: 76%;
                        color: $quietColor;
                    }
                    .attr-value {
                        text-align: left;
                    }
                }
            }
        }
        &.assetinfo-frame-notpc {
            .card {
                width: 200px;
                max-width: 35%;
            }
            .text {
                width: calc(100% - 200px);
                min-width: 65%;
                .name {
                    font-size: 20px;
                }
            }
        }
    }
    .myorders-frame {
        position: relative;
        box-sizing: border-box;
        width: 50%;
        padding-bottom: 10px;
        background-color: $bgColor2;
        border-radius: 4px;
        .myorders-tabbar {
            position: relative;
            padding-right: 48px;
            .update-button {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .message {
            margin: 30px 10px 20px 10px;
            text-align: center;
            color: $quietColor;
        }
        .labels-row {
            position: relative;
            padding-top: 10px;
            display: flex;
            align-items: flex-end;
            text-align: center;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: rgba(white, 0.06);
            background-color: rgba($bgColor, 0.7);
        }
        .row {
            position: relative;
            display: flex;
            align-items: center;
            text-align: right;
            min-height: 56px;
            &.even-row {
                background-color: rgba($bgColor, 0.7);
            }
        }
        .cell {
            box-sizing: border-box;
            padding: 0 2px;
        }
        .open-asset-cell {
            width: 25%;
            text-align: center;
        }
        .open-side-cell {
            width: 15%;
            text-align: center;
        }
        .open-price-cell { width: 15% }
        .open-amount-cell { width: 30% }
        .open-cancel-cell { width: 15% }
        .history-asset-cell {
            width: 25%;
            text-align: center;
        }
        .history-side-cell {
            width: 15%;
            text-align: center;
        }
        .history-price-cell { width: 15% }
        .history-amount-cell { width: 30% }
        .history-status-cell {
            width: 15%;
            text-align: center;
            text-transform: capitalize;
        }
        .buy { color: $buyColor }
        .sell { color: $sellColor }
    }
    .auctions-frame {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        padding: 6px 10px 10px 10px;
        background-color: $bgColor2;
        border-radius: 4px;
        .title {
            width: 100%;
            padding: 4px;
            font-size: 22px;
        }
        .auction-items {
            display: flex;
            padding: 10px 0 0 0;
            gap: 10px;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: center;
        }
        .auction-item {
            position: relative;
            width: 120px;
            .image {
                display: block;
                width: 100%;
                border-radius: 3px;
            }
            .label {
                padding: 49px 4px;
                text-align: center;
                border-radius: 3px;
                background-color: rgba($bgColor, 0.7);
            }
        }
    }
    @media screen and (max-width: $pcWidthMinus1) {
        .selectmarket-frame {
            order: 0;
            height: auto;
            .input-frame {
                width: 100%;
                display: block;
            }
            .recents-frame {
                width: calc(100% + 10px);
                margin: 4px 0 0 -10px;
                max-height: 40px;
                line-height: 40px;
            }
        }
        .chart-frame {
            display: none;
        }
        .depth-frame {
            order: 1;
            width: 100%;
        }
        .orderform-frame {
            order: 1;
            width: 100%;
        }
        .assetinfo-frame {
            order: 0;
            width: 100%;
        }
        .myorders-frame {
            order: 1;
            width: 100%;
        }
        .auctions-frame {
            order: 1;
        }
    }
    @media screen and (max-width: $phoneWidth) {
        .selectmarket-frame {
            .recents-frame {
                max-height: 80px;
            }
        }
        .myorders-frame {
            .labels-row {
                flex-wrap: wrap;
                .cell { margin: 10px 0 }
            }
            .row {
                flex-wrap: wrap;
            }
            .open-asset-cell { width: 40% }
            .open-side-cell { width: 20%; margin: 10px 0; }
            .open-price-cell { width: 40% }
            .open-amount-cell { width: 70%; text-align: center; }
            .open-cancel-cell { width: 30% }
            .history-asset-cell { width: 40% }
            .history-side-cell { width: 20%; margin: 10px 0; }
            .history-price-cell { width: 40% }
            .history-amount-cell { width: 70%; text-align: center; }
            .history-status-cell { width: 30% }
        }
    }
}
