<sales-tab>

<div class="tab-frame">
    <div class="search-frame">
        <div class="input-frame">
            <material-textfield ref="search_input" hint="Search" on_input={ onInputSearch }></material-textfield>
            <div class="clearbutton-frame"><material-iconbutton icon="clear" on_click={ onClickClearSearchButton }></material-iconbutton></div>
        </div><div class="chips-frame">
            <div each={ searchChips } class="chip-frame"><material-chip label={ label } on_click={ onClick }></material-chip></div>
        </div>
    </div>
    <div class="sales-frame">
        <div each={ salesToShow } class="sales-item clickable" onclick={ onClick }>
            <img class="card-img bg-checker { square: assetInfo.isSquare }" src={ image || noimgImg } loading="lazy">
            <div class="texts">
                <div if={ !assetInfo.group } class="name">{ IS_NOTPC ? assetInfo.shortenName : assetInfo.name }</div>
                <div if={ assetInfo.group } class="name">{ assetInfo.group } <div class="nft-tag"></div></div>
                <div if={ assetInfo.group } class="nft-id quiet">{ IS_NOTPC ? assetInfo.shortenName : assetInfo.name }</div>
                <div if={ !isAuction } class="price">{ priceS }<span class="price-unit"> { TagG.quoteAsset }</span></div>
                <div if={ isAuction } class="price">Auction Coming <i class="material-icons">gavel</i></div>
            </div>
            <div if={ isInWallet } class="opt-icon wallet-icon"><i class="material-icons">account_balance_wallet</i></div>
            <div if={ treasureAmountsS } class="opt-icon attachment-icon"><i class="material-icons">attachment</i></div>
        </div>
    </div>
    <util-spinner ref="spinner"></util-spinner>
</div>

<div ref="swalwindows_container" show={ false }>
    <div ref="buy_window" class="sales-swalwindow buy-window"><div if={ saleData }>
        <div class="title"><span if={ !saleData.isAuction }>Buy</span><i if={ saleData.isAuction } class="material-icons inline-icon">gavel</i> { saleAssetInfo.group || saleAssetInfo.name } <div if={ saleAssetInfo.group } class="nft-tag"></div></div>
        <div if={ saleAssetInfo.group } class="basic"><i class="material-icons inline-icon">tag</i> { saleAssetInfo.name }</div>
        <img class="asset-img bg-checker" src={ saleData.imageL } loading="lazy">
        <div class="basic"><span class="quiet">Issued:</span> { commafy(saleAssetInfo.issuedAmount) } <i if={ saleAssetInfo.isLocked } class="material-icons inline-icon">lock</i></div>
        <div if={ saleCard } class="basic"><span class="quiet">Monacard:</span> { saleCard.cardName }</div>
        <div if={ saleAssetInfo.appData.rakugakinft } class="basic"><span class="quiet">Rakugaki NFT:</span> { TagG.asset2rakugakiTitle[saleAssetInfo.asset] || 'No Title' }</div>
        <div if={ saleData.treasureAmountsS } class="basic"><span class="quiet">TokenVault:</span> { saleData.treasureAmountsS }</div>
        <div if={ saleCard } class="basic oblique">{ saleCard.description }</div>
        <div if={ !saleCard && !saleAssetInfo.parsedDesc && saleAssetInfo.description } class="basic oblique">{ saleAssetInfo.description }</div>
        <div if={ saleAssetInfo.appData.attributes } class="basic attrs">
            <div each={ saleAssetInfo.appData.attributes } class="attr"><div class="attr-name">{ name }</div><div class="attr-value">{ value }</div></div>
        </div>
        <div class="buttons-frame">
            <material-button label="MPCHAIN" icon="search" is_link="true" link_href={ saleAssetInfo.explorerURL } link_target="_blank" reload_opts="true"></material-button>
            <material-button if={ saleCard } label="Monacard" icon="open_in_new" is_link="true" link_href={ saleCard.siteURL } link_target="_blank" reload_opts="true"></material-button>
            <material-button if={ saleAssetInfo.appData.monacharat } label="MonaCharaT" icon="open_in_new" is_link="true" link_href={ saleAssetInfo.appData.monacharat.url } link_target="_blank" reload_opts="true"></material-button>
            <material-button if={ saleAssetInfo.appData.monacute } label="Monacute" icon="open_in_new" is_link="true" link_href={ saleAssetInfo.appData.monacute.url } link_target="_blank" reload_opts="true"></material-button>
            <material-button if={ saleData.treasureAmountsS } label="TokenVault" icon="open_in_new" is_link="true" link_href={ treasuresURL(saleAssetInfo.asset) } link_target="_blank" reload_opts="true"></material-button>
            <material-button label="Orderbook" icon="list" reload_opts="true" on_click={ gotoSaleAssetOrderbook }></material-button>
        </div>
        <div if={ !saleData.isAuction } class="section">
            <div class="basic">
                <span if={ TagG.jp }>1 枚あたり { saleData.priceS }&nbsp;{ TagG.quoteAsset } で { commafy(saleData.amount) }&nbsp;枚まで買えます</span>
                <span if={ !TagG.jp }>You can buy up to { commafy(saleData.amount) } tokens at { saleData.priceS }&nbsp;{ TagG.quoteAsset } per token.</span>
            </div>
            <div if={ !TagG.address } class="basic">{ TagG.jp ? '売買するにはウォレットに接続してください' : 'To trade, connect wallet.' }</div>
            <div if={ TagG.address }>
                <div class="basic"><i class="material-icons inline-icon">account_balance_wallet</i> { commafy(saleAssetBalance) }&nbsp;{ saleAssetInfo.shortenName } / { commafy(quoteAssetBalance) }&nbsp;{ TagG.quoteAsset }</div>
                <div class="basic">
                    <div class="inline-input inline-input-amount"><material-textfield ref="buy_amount" hint="Amount" on_input={ onInputBuyAmount }></material-textfield></div>
                    <div class="text-with-inlineinput">tokens</div>
                </div>
                <div class="basic">Total cost: { commafy(buyTotalAmount) }&nbsp;{ TagG.quoteAsset }</div>
                <div class="bottombutton-frame"><material-button label="BUY" on_click={ onClickBuyButton } is_unelevated="true" is_fullwidth="true"></material-button></div>
            </div>
        </div>
        <div if={ saleData.isAuction } class="section">
            <div class="basic">{ saleAssetInfo.name } x { commafy(saleData.amount) }</div>
            <div class="basic">
                <span if={ TagG.jp }>オークションの開催が予告されています。Orderbookに買注文を入れて参加しましょう</span>
                <span if={ !TagG.jp }>An auction will be held. You can participate by bidding in the orderbook.</span>
            </div>
            <div class="bottombutton-frame"><material-button label="Go to Orderbook" on_click={ gotoSaleAssetOrderbook } reload_opts="true" is_fullwidth="true"></material-button></div>
        </div>
    </div></div>
</div>

<script>
    this.TagG = TagG;
    const IS_NOTPC = this.IS_NOTPC = (document.body.clientWidth < WIDTH_PC);
    const commafy = this.commafy = Util.commafy;
    const init = () => {
        this.gotoOrderbook = opts.goto_orderbook;
        this.noimgImg = TagG.RELATIVE_URL_BASE + 'img/noimg.png';
        this.sales = [];
        this.salesToShow = [];
        this.searchedQuery = '';
        this.searchChips = [
            { label: 'Not in Wallet', onClick: () => search('[NINWAL]') },
            { label: 'Auction', onClick: () => search('[AUCTION]') },
            { label: 'NFT', onClick: () => search('[NFT]') },
            { label: 'Locked', onClick: () => search('[LOCKED]') },
            { label: 'TokenVault', onClick: () => search('[TVLT]') },
            { label: 'Rakugaki', onClick: () => search('Rakugaki [NFT]') },
            { label: 'OR', onClick: () => search('オダイロイド１号 OR モナパちゃん OR Tiproid') },
        ];
        if (TagG.query[TagG.QUERYKEY_SEARCH]) {
            this.searchedQuery = decodeURIComponent(TagG.query[TagG.QUERYKEY_SEARCH].replace(/\+/g, ' '));
            delete TagG.query[TagG.QUERYKEY_SEARCH];
        }
    };
    this.treasuresURL = (asset) => TagG.TREASURES_URL_FORMAT.replace('{ASSET}', asset);
    this.onInputSearch = (query) => {
        query = query.trim();
        if (query === this.searchedQuery) return;
        search(query);
    };
    this.onClickClearSearchButton = () => {
        if (this.searchedQuery === '') return;
        search('');
    };
    this.onInputBuyAmount = () => {
        setBuyTotalAmount();
        this.update();
    };
    this.onClickBuyButton = async() => {
        const amount = Number(this.refs.buy_amount.getValue());
        if (isNaN(amount)) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? '数量に変な値が入っています' : 'Invalid amount.', 'error');
        if (amount <= 0) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? '数量は正の値で入力してください' : 'Invalid amount.', 'error');
        const totalAmount = TagG.qty2amount(calcTotalSatToBuy(amount), TagG.isQuoteAssetDivisible);
        if (!this.saleAssetInfo.isDivisible && !Number.isInteger(amount)) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? '数量は整数で入力してください' : 'Invalid amount.', 'error');
        if (!TagG.isQuoteAssetDivisible && !Number.isInteger(totalAmount)) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? 'Totalが整数になるように入力してください' : '"Total" must be an integer.', 'error');
        const giveSat = TagG.amount2qty(totalAmount, TagG.isQuoteAssetDivisible);
        const getSat = TagG.amount2qty(amount, this.saleAssetInfo.isDivisible);
        const success = await TagG.aMonapartyOrder(TagG.quoteAsset, giveSat, this.saleAssetInfo.asset, getSat);
        if (!success) return;
        swal.close();
    };
    this.on('mount', async() => {
        TagG.onLoadWalletManually = () => { aShowSales() };
        if (!TagG.wallet) await TagG.aLoadWallet();
        else if (TagG.address) await TagG.aUpdateBalances();
        await aShowSales();
    });
    const aShowSales = async() => {
        try {
            this.refs.spinner.start();
            const params = {
                'order_by': 'block_index',
                'order_dir': 'desc',
                'status': 'open',
                'filters': [
                    { field: 'get_asset', op: '==', value: TagG.quoteAsset },
                    { field: 'give_asset', op: '!=', value: TagG.BASECHAIN_ASSET },
                ],
            };
            const orders = await Monaparty.aPartyTableAll('get_orders', params);
            const assets = orders.map(order => order.give_asset);
            await TagG.aLoadAssets(assets);
            const asset2lowestOrder = {};
            for (const order of orders) {
                order.rawPrice = order.get_quantity / order.give_quantity;
                const lowestOrder = asset2lowestOrder[order.give_asset];
                if (!lowestOrder || order.rawPrice < lowestOrder.rawPrice) {
                    order.isLowest = true;
                    asset2lowestOrder[order.give_asset] = order;
                    if (lowestOrder) lowestOrder.isLowest = false;
                }
            }
            this.sales = orders.filter(order => order.isLowest).map(order => {
                const assetInfo = TagG.asset2info[order.give_asset];
                const amount = TagG.qty2amount(order.give_remaining, assetInfo.isDivisible); // remainingのほう
                const getQtyN = BigInt(order.get_quantity);
                const giveQtyN = BigInt(order.give_quantity);
                let priceQtyN; // askの価格は切上げ // 小数計算の誤差を切上げないよう正確に処理
                if (assetInfo.isDivisible) {
                    priceQtyN = getQtyN * BigInt(TagG.SATOSHI_RATIO) / giveQtyN;
                    if (getQtyN * BigInt(TagG.SATOSHI_RATIO) % giveQtyN) priceQtyN++;
                }
                else {
                    priceQtyN = getQtyN / giveQtyN;
                    if (getQtyN % giveQtyN) priceQtyN++;
                }
                const priceQty = Number(priceQtyN);
                const price = TagG.qty2amount(priceQty, TagG.isQuoteAssetDivisible);
                const priceS = commafy(price);
                const image = TagG.getAssetImageURL('auto', assetInfo.asset);
                const imageL = TagG.getAssetImageURL('L', assetInfo.asset);
                let treasureAmountsS = null;
                if (TagG.asset2treasureQtys[assetInfo.asset]) treasureAmountsS = TagG.asset2treasureQtys[assetInfo.asset].
                    map(qty => commafy(TagG.qty2amount(qty, assetInfo.isDivisible))).join(', ');
                const isInWallet = Boolean(TagG.asset2qty[assetInfo.asset]);
                const isAuction = (price === TagG.AUCTIONFLAG_PRICE);
                const searchText = getSearchText(assetInfo, isAuction);
                const sale = { assetInfo, price, priceS, amount, searchText, image, imageL, treasureAmountsS, isInWallet, isAuction };
                sale.onClick = () => { openBuyWindow(sale) };
                return sale;
            });
            search(this.searchedQuery);
        }
        catch (error) {
            console.error(error);
            myswal('Error', (TagG.jp ? `データの取得に失敗しました。ヒント: ${error}` : `Failed to fetch data. hint: ${error}`), 'error');
        }
        finally { this.refs.spinner.stop() }
    };
    const openBuyWindow = (sale) => {
        this.saleData = sale;
        this.saleAssetInfo = sale.assetInfo;
        this.saleCard = TagG.asset2card[sale.assetInfo.name];
        this.quoteAssetBalance = TagG.qty2amount(TagG.asset2qty[TagG.quoteAsset] || 0, TagG.isQuoteAssetDivisible);
        this.saleAssetBalance = TagG.qty2amount(TagG.asset2qty[this.saleAssetInfo.asset] || 0, this.saleAssetInfo.isDivisible);
        this.gotoSaleAssetOrderbook = () => {
            swal.close();
            this.gotoOrderbook(this.saleAssetInfo.name);
        };
        this.update();
        if (TagG.address && !sale.isAuction) {
            const defaultAmount = Math.min(sale.amount, 1);
            this.refs.buy_amount.setValue(defaultAmount);
            setBuyTotalAmount();
            this.update();
        }
        Util.aOpenContentSwal(this.refs.buy_window);
    };
    const setBuyTotalAmount = () => {
        const amount = Number(this.refs.buy_amount.getValue());
        if (isNaN(amount)) this.buyTotalAmount = 0;
        else this.buyTotalAmount = TagG.qty2amount(calcTotalSatToBuy(amount), TagG.isQuoteAssetDivisible);
    };
    const calcTotalSatToBuy = (amount) => {
        let totalSat = TagG.amount2qty(this.saleData.price * amount, TagG.isQuoteAssetDivisible);
        if (this.saleAssetInfo.isDivisible) { // totalSatが切下げられてると約定しないので修正
            const priceSatN = BigInt(TagG.amount2qty(this.saleData.price, TagG.isQuoteAssetDivisible));
            const amountSatN = BigInt(amount * TagG.SATOSHI_RATIO);
            if (priceSatN * amountSatN > BigInt(totalSat) * BigInt(TagG.SATOSHI_RATIO)) totalSat++;
        }
        return totalSat;
    };
    const getSearchText = (assetInfo, isAuction) => {
        const cardData = TagG.asset2card[assetInfo.name];
        const lockFlag = assetInfo.isLocked ? '[LOCKED]' : '[NLOCKED]';
        const tokenVaultFlag = TagG.asset2treasureQtys[assetInfo.asset] ? '[TVLT]' : '[NTVLT]';
        const inwalletFlag = TagG.asset2qty[assetInfo.asset] ? '[INWAL]' : '[NINWAL]';
        const auctionFlag = isAuction ? '[AUCTION]' : '';
        let text = `${assetInfo.name.toLowerCase()} ${assetInfo.name} ${assetInfo.asset} ${assetInfo.owner} ${assetInfo.description} ${lockFlag} ${tokenVaultFlag} ${inwalletFlag} ${auctionFlag}`;
        if (assetInfo.group) text += ` ${assetInfo.group} [NFT]`;
        else text += ` [FT]`;
        if (!cardData) return text;
        text += ` ${cardData.cardName} ${cardData.ownerName} ${cardData.description} ${cardData.tags}`;
        return text;
    };
    const search = (query) => {
        this.searchedQuery = query;
        let isOR = false;
        let words = query.split(/\s+OR\s+/).map(word => word.trim()).filter(word => word);
        if (words.length > 1) isOR = true;
        else words = query.split(/\s+/).filter(word => word);
        let filteredList;
        if (words.length === 0) filteredList = this.sales;
        else {
            if (isOR) {
                filteredList = this.sales.filter(dispenser => {
                    for (const word of words) {
                        if (dispenser.searchText.includes(word)) return true;
                    }
                    return false;
                });
            }
            else {
                filteredList = this.sales.filter(dispenser => {
                    for (const word of words) {
                        if (!dispenser.searchText.includes(word)) return false;
                    }
                    return true;
                });
            }
        }
        if (this.refs.search_input && this.refs.search_input.getValue() !== query) this.refs.search_input.setValue(query);
        setURLQuery(query);
        const FIRST = 30;
        const ONCE = 300;
        this.salesToShow = filteredList.slice(0, FIRST);
        this.update();
        let length = FIRST;
        const showMore = () => {
            if (length >= filteredList.length || query !== this.searchedQuery) return;
            if (!TagG.IS_LAZYLOADAVAILABLE && length > 300) return;
            length += ONCE;
            this.salesToShow = filteredList.slice(0, length);
            this.update();
            setTimeout(showMore, 0);
        };
        setTimeout(showMore, 0);
    };
    const setURLQuery = (query) => {
        const urlObj = new URL(location);
        if (query) urlObj.searchParams.set(TagG.QUERYKEY_SEARCH, query);
        else urlObj.searchParams.delete(TagG.QUERYKEY_SEARCH);
        history.replaceState(null, '', urlObj.toString());
    };
    init();
</script>

</sales-tab>
