$color: #FFFFFF;
$accentColor: #FF8C00;
$quietColor: #AAAAAA;
$bgColor: #0A0E17;
$bgColor2: #111722;
$buyColor: #02C77A;
$sellColor: #FF3B69;
$basicFontSize: 16px;
$basicFontWeight: 500;
$boldFontWeight: 500;
$swalFontWeight: 500;
$materialFontWeight: 500;
$fontFamily: 'M PLUS Rounded 1c', sans-serif;
$codeFontFamily: 'Courier New', courier, 'M PLUS Rounded 1c';
$materialFontFamily: 'M PLUS Rounded 1c', sans-serif;
$pcWidth: 1024px;
$pcWidthMinus1: 1023px;
$tabletWidth: 720px;
$phoneWidth: 420px;

// material
@use '@material/theme' with (
    $primary: $accentColor, $on-primary: white,
    $secondary: $accentColor, $on-secondary: white,
    $surface: $bgColor,
    $background: $bgColor,
);
@use '@material/form-field';
@use '@material/floating-label/mdc-floating-label';
@use '@material/line-ripple/mdc-line-ripple';
@use '@material/notched-outline/mdc-notched-outline';
@use '@material/button';
@use '@material/icon-button';
@use '@material/textfield';
@use '@material/list/mdc-list';
@use '@material/menu-surface/mdc-menu-surface';
@use '@material/menu/mdc-menu';
@use '@material/select/styles';
@use '@material/switch';
@use '@material/checkbox';
@use '@material/radio/radio'; // ドキュメント通り @material/radio だけにすると radio.core-styles が含まれず失敗する
@use '@material/radio/radio-theme';
@use '@material/chips/mdc-chips';
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@include button.core-styles;
@include icon-button.core-styles;
@include textfield.core-styles;
@include switch.core-styles;
@include checkbox.core-styles;
@include radio.core-styles;
@include form-field.core-styles;

// swal darkmode
.swal-overlay {
    background-color: rgba(0,0,0,.7);
    backdrop-filter: blur(2px);
}
.swal-modal {
    background-color: $bgColor2;
    margin: 20px auto 40px auto; // 閉じやすいように下の隙間を広くする
}
.swal-icon--success:before, .swal-icon--success:after {
    background: $bgColor2;
}
.swal-icon--success__hide-corners {
    background-color: $bgColor2;
}

body {
    margin: 0;
    padding: 0;
    background-color: $bgColor;
    color: $color;
    font-family: $fontFamily;
    font-weight: $basicFontWeight;
    font-size: $basicFontSize;
}
div {
    word-break: break-word;
}
pre {
    margin: 0;
    font-family: $fontFamily;
    white-space: pre-wrap;
    word-break: break-word;
}
code {
    font-family: $codeFontFamily;
}
a {
    text-decoration: none;
    color: $accentColor;
}
.clickable {
    cursor: pointer;
}
.bg-checker {
    background: linear-gradient(45deg, #DDDDDD 25%, transparent 25%, transparent 75%, #DDDDDD 75%),
                linear-gradient(45deg, #DDDDDD 25%, white 25%, white 75%, #DDDDDD 75%);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
}
.quiet {
    color: $quietColor;
}
.oblique {
    font-style: oblique;
}
.inline-icon {
    font-size: 120%;
    vertical-align: middle;
}
.nft-tag {
    display: inline-block;
    padding: 0px 4px;
    font-size: 12px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    vertical-align: middle;
    &:before {
        content: "NFT";
    }
}

@import 'tags';
