.app-page {
    .page-header {
        position: relative;
        .page-icon {
            display: block;
            position: absolute;
            top: 0;
            left: 24px;
            font-size: 24px;
            line-height: 54px;
        }
        .page-title {
            margin: 0;
            padding: 0 0 0 62px;
            height: 54px;
            line-height: 54px;
            font-size: 22px;
            font-weight: $basicFontWeight;
            text-align: left;
            white-space: nowrap;
        }
    }
    .page-content {
        position: relative;
        padding: 10px 10px 80px 10px;
    }
}
// SweetAlertにclassNameで指定するためのクラス
.swalcustom-singlebutton {
    &.swal-modal {
        border-radius: 3px;
    }
    .swal-title {
        margin: 20px;
        font-size: 20px;
        font-weight: $swalFontWeight;
        color: $color;
    }
    .swal-text {
        font-weight: $swalFontWeight;
        color: $color;
    }
    .swal-button-container {
        display: block;
    }
    .swal-button {
        width: 100%;
        height: 42px;
        font-family: $fontFamily;
        font-weight: $swalFontWeight;
        background-color: $accentColor;
        border-radius: 3px;
        &:hover {
            background-color: lighten($accentColor, 5%);
        }
    }
}
.swalcustom-icon {
    &.swal-modal {
        border-radius: 3px;
    }
    .swal-title {
        margin-bottom: 24px;
        padding-top: 0;
        font-size: 24px;
        font-weight: $swalFontWeight;
        color: $color;
    }
    .swal-text {
        font-weight: $swalFontWeight;
        color: $color;
    }
    .swal-button-container {
        display: block;
    }
    .swal-button {
        width: 100%;
        height: 42px;
        font-family: $fontFamily;
        font-weight: $swalFontWeight;
        background-color: $accentColor;
        border-radius: 3px;
        &:hover {
            background-color: lighten($accentColor, 5%);
        }
    }
}
.swalcustom-justtext {
    &.swal-modal {
        border-radius: 3px;
    }
    .swal-text {
        margin: 24px 0;
        font-weight: $swalFontWeight;
        color: $color;
    }
}
.swalcustom-content .swal-content {
    .title {
        font-size: 19px;
        margin-bottom: 16px;
    }
    .section {
        padding-top: 4px;
        border-top-style: solid;
        border-width: 1px;
        border-color: $bgColor;
    }
    .basic {
        margin: 12px 0;
    }
    .qrcode {
        height: 160px;
        width: 160px;
        margin: 12px auto;
        padding: 10px;
        background-color: white;
        border-radius: 8px;
    }
    .inline-input {
        display: inline-block;
        vertical-align: middle;
        .inline-input-amount {
            width: 50%;
        }
    }
    .text-with-inlineinput {
        display: inline-block;
        padding-top: 12px;
        vertical-align: middle;
    }
    .asset-img {
        display: block;
        max-width: 100%;
        margin: 12px auto;
        border-radius: 3px;
    }
    .gorilla-img {
        display: block;
        width: 80%;
        max-width: 200px;
        margin: 12px auto;
        border-radius: 3px;
    }
    .attrs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
        .attr {
            padding: 4px 8px;
            border-style: solid;
            border-width: 1px;
            border-radius: 3px;
            border-color: $quietColor;
            text-align: left;
            .attr-name {
                font-size: 76%;
                color: $quietColor;
            }
            .attr-value {
                text-align: left;
            }
        }
    }
    .buttons-frame {
        margin: 12px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .bottombutton-frame {
        margin-top: 16px;
    }
}
markets-page {
    .app-page {
        .page-content {
            padding: 0 0 80px 0;
        }
    }
    .tabs {
        position: relative;
        text-align: center;
        .tab {
            display: inline-block;
            width: 50%;
            box-sizing: border-box;
            border-width: 1px;
            border-radius: 3px 3px 0 0;
            border-style: solid;
            border-color: #EAEAEA #EAEAEA #CCCCCC #EAEAEA;
            &.selected {
                border-style: solid solid none solid;
                border-color: #CCCCCC;
            }
        }
    }
}
offers-tab {
    .tab-frame {
        position: relative;
        padding: 10px 10px 80px 10px;
        min-height: 300px; // spinner位置調整
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: flex-start;
    }
    .search-frame {
        position: relative;
        width: 100%;
        height: 56px;
        .input-frame {
            display: inline-block;
            position: relative;
            width: 400px;
            .clearbutton-frame {
                position: absolute;
                top: 4px;
                right: 4px;
            }
        }
        .chips-frame {
            display: inline-block;
            width: calc(100% - 410px);
            max-height: 56px;
            margin-left: 10px;
            line-height: 56px;
            vertical-align: top;
            overflow: hidden;
            .chip-frame {
                display: inline-block;
                margin-left: 10px;
                vertical-align: middle;
            }
        }
    }
    .offers-frame {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        .offers-item {
            position: relative;
            width: 240px;
            height: calc(240px * 1.4285);
            max-width: calc(33.3vw - 13.5px);
            max-height: calc((33.3vw - 13.5px) * 1.4285);
            border-radius: 3px;
            background-color: $bgColor2;
            overflow: hidden;
            content-visibility: auto;
            .card-img {
                display: block;
                position: absolute;
                box-sizing: border-box;
                top: 0;
                width: 100%;
                border-radius: 3px;
                &.square {
                    margin: 16% 10%;
                    width: 80%;
                }
            }
            .texts {
                position: absolute;
                box-sizing: border-box;
                bottom: 0;
                right: 0;
                width: calc(100% - 8px);
                margin: 4px;
                padding: 6px 8px;
                background-color: rgba($bgColor, 0.5);
                backdrop-filter: blur(2px);
                border-radius: 2px;
                text-align: right;
                .name {
                    font-size: 17px;
                }
                .nft-id {
                    font-size: 12px;
                }
                .price {
                    font-size: 17px;
                    .price-unit {
                        font-size: 76%;
                    }
                }
            }
            .opt-icon {
                position: absolute;
                box-sizing: border-box;
                right: 4px;
                padding: 8px;
                background-color: rgba($bgColor, 0.5);
                backdrop-filter: blur(2px);
                border-radius: 2px;
                .material-icons {
                    font-size: 22px;
                    vertical-align: middle;
                }
            }
            .wallet-icon {
                top: 4px;
            }
            .attachment-icon {
                top: 47px;
            }
        }
    }
    @media screen and (max-width: $pcWidthMinus1) {
        .search-frame {
            height: auto;
            .input-frame {
                width: 100%;
                display: block;
            }
            .chips-frame {
                width: calc(100% + 10px);
                margin: 4px 0 0 -10px;
                max-height: 80px;
                line-height: 40px;
            }
        }
    }
    @media screen and (max-width: $phoneWidth) {
        .offers-frame {
            .offers-item {
                max-width: calc(50vw - 15px);
                max-height: calc((50vw - 15px) * 1.4285);
            }
        }
    }
}
orderbook-tab {
    .tab-frame {
        position: relative;
        padding: 10px 10px 80px 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: flex-start;
    }
    .selectmarket-frame {
        position: relative;
        width: 100%;
        height: 56px;
        .input-frame {
            display: inline-block;
            position: relative;
            width: 300px;
            .enterbutton-frame {
                position: absolute;
                top: 4px;
                right: 4px;
            }
        }
        .recents-frame {
            display: inline-block;
            width: calc(100% - 310px);
            max-height: 56px;
            margin-left: 10px;
            line-height: 56px;
            vertical-align: top;
            overflow: hidden;
            .chip-frame {
                display: inline-block;
                margin-left: 10px;
                vertical-align: middle;
            }
        }
    }
    .chart-frame {
        position: relative;
        box-sizing: border-box;
        width: calc(40% - 20px);
        background-color: $bgColor2;
        border-radius: 4px;
    }
    .depth-frame {
        position: relative;
        box-sizing: border-box;
        width: 35%;
        background-color: $bgColor2;
        border-radius: 4px;
        font-size: 14px;
        line-height: 20px;
        .price-cell {
            box-sizing: border-box;
            padding: 0 2px;
            width: 50%;
            text-align: right;
            border-right-style: solid;
            border-width: 1px;
            border-color: rgba(white, 0.06);
        }
        .amount-cell {
            box-sizing: border-box;
            padding: 0 2px;
            width: 50%;
            text-align: right;
        }
        .labels-row {
            position: relative;
            display: flex;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: rgba(white, 0.06);
        }
        .row {
            position: relative;
            display: flex;
            min-height: 20px;
            &.odd-row {
                background-color: rgba($bgColor, 0.7);
            }
            .fracpart {
                font-size: 11px;
                &.fracpart-zero {
                    opacity: 0.4;
                }
            }
        }
        .ask-row {
            .price-cell {
                color: $sellColor;
            }
        }
        .bid-row {
            .price-cell {
                color: $buyColor;
            }
        }
        .last {
            min-height: 42px;
            font-size: 20px;
            line-height: 40px;
            text-align: left;
            border-style: solid none;
            border-width: 1px;
            border-color: rgba(white, 0.06);
            padding-left: 10%;
            .buy {
                color: $buyColor;
            }
            .sell {
                color: $sellColor;
            }
            .icon {
                vertical-align: middle;
            }
            .fracpart {
                font-size: 14px;
                &.fracpart-zero {
                    opacity: 0.4;
                }
            }
        }
    }
    .orderform-frame {
        position: relative;
        box-sizing: border-box;
        width: 25%;
        background-color: $bgColor2;
        border-radius: 4px;
        text-align: center;
        .orderform-nologin {
            position: absolute;
            box-sizing: border-box;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 180px 10px 0 10px;
            background-color: rgba($bgColor2, 0.8);
        }
        .buysellswitch-frame {
            position: relative;
            border-radius: 3px;
            overflow: hidden;
            .buysellswitch-button {
                display: inline-block;
                width: 50%;
                background-color: rgba($bgColor, 0.7);
                &.selected {
                    border-top-style: solid;
                    border-width: 2px;
                    box-sizing: border-box;
                    background-color: $bgColor2;
                }
                &.selected-buy {
                    border-color: $buyColor;
                }
                &.selected-sell {
                    border-color: $sellColor;
                }
            }
        }
        .margin-frame {
            position: relative;
            margin: 20px 10px;
        }
        .buysell-button-frame {
            margin: 10px;
            border-radius: 3px;
            background-color: rgba($bgColor, 0.7);
            &.buy-button-frame {
                background-color: $buyColor;
            }
            &.sell-button-frame {
                background-color: $sellColor;
            }
        }
        .wallet-icon {
            vertical-align: middle;
            font-size: 20px;
            margin-right: 4px;
        }
        .max-amount {
            padding-left: 16px;
            font-size: 12px;
            text-align: left;
        }
        .auction-button {
            position: absolute;
            top: 4px;
            right: 4px;
        }
    }
    .assetinfo-frame {
        position: relative;
        display: flex;
        box-sizing: border-box;
        width: calc(50% - 10px);
        background-color: $bgColor2;
        border-radius: 4px;
        overflow: hidden;
        .card {
            display: flex;
            align-items: center;
            width: 320px;
            max-width: 50%;
            background-color: black;
            .card-img {
                max-width: 100%;
            }
        }
        .text {
            width: calc(100% - 320px);
            min-width: 50%;
            .name {
                font-size: 24px;
                margin: 10px;
            }
            .cardname {
                font-size: 22px;
                margin: 10px;
            }
            .basic {
                margin: 10px;
            }
            .button-frame {
                margin: 10px;
                text-align: center;
            }
            .additionals {
                border-top-style: solid;
                border-width: 1px;
                border-color: $bgColor;
            }
            .attrs {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 10px;
                .attr {
                    padding: 4px 8px;
                    border-style: solid;
                    border-width: 1px;
                    border-radius: 3px;
                    border-color: $quietColor;
                    text-align: left;
                    .attr-name {
                        font-size: 76%;
                        color: $quietColor;
                    }
                    .attr-value {
                        text-align: left;
                    }
                }
            }
        }
        &.assetinfo-frame-notpc {
            .card {
                width: 200px;
                max-width: 35%;
            }
            .text {
                width: calc(100% - 200px);
                min-width: 65%;
                .name {
                    font-size: 20px;
                }
            }
        }
    }
    .myorders-frame {
        position: relative;
        box-sizing: border-box;
        width: 50%;
        padding-bottom: 10px;
        background-color: $bgColor2;
        border-radius: 4px;
        .myorders-tabbar {
            position: relative;
            padding-right: 48px;
            .update-button {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .message {
            margin: 30px 10px 20px 10px;
            text-align: center;
            color: $quietColor;
        }
        .labels-row {
            position: relative;
            padding-top: 10px;
            display: flex;
            align-items: flex-end;
            text-align: center;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: rgba(white, 0.06);
            background-color: rgba($bgColor, 0.7);
        }
        .row {
            position: relative;
            display: flex;
            align-items: center;
            text-align: right;
            min-height: 56px;
            &.even-row {
                background-color: rgba($bgColor, 0.7);
            }
        }
        .cell {
            box-sizing: border-box;
            padding: 0 2px;
        }
        .open-asset-cell {
            width: 25%;
            text-align: center;
        }
        .open-side-cell {
            width: 15%;
            text-align: center;
        }
        .open-price-cell { width: 15% }
        .open-amount-cell { width: 30% }
        .open-cancel-cell { width: 15% }
        .history-asset-cell {
            width: 25%;
            text-align: center;
        }
        .history-side-cell {
            width: 15%;
            text-align: center;
        }
        .history-price-cell { width: 15% }
        .history-amount-cell { width: 30% }
        .history-status-cell {
            width: 15%;
            text-align: center;
            text-transform: capitalize;
        }
        .buy { color: $buyColor }
        .sell { color: $sellColor }
    }
    .auctions-frame {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        padding: 6px 10px 10px 10px;
        background-color: $bgColor2;
        border-radius: 4px;
        .title {
            width: 100%;
            padding: 4px;
            font-size: 22px;
        }
        .auction-items {
            display: flex;
            padding: 10px 0 0 0;
            gap: 10px;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: center;
        }
        .auction-item {
            position: relative;
            width: 120px;
            .image {
                display: block;
                width: 100%;
                border-radius: 3px;
            }
            .label {
                padding: 49px 4px;
                text-align: center;
                border-radius: 3px;
                background-color: rgba($bgColor, 0.7);
            }
        }
    }
    @media screen and (max-width: $pcWidthMinus1) {
        .selectmarket-frame {
            order: 0;
            height: auto;
            .input-frame {
                width: 100%;
                display: block;
            }
            .recents-frame {
                width: calc(100% + 10px);
                margin: 4px 0 0 -10px;
                max-height: 40px;
                line-height: 40px;
            }
        }
        .chart-frame {
            display: none;
        }
        .depth-frame {
            order: 1;
            width: 100%;
        }
        .orderform-frame {
            order: 1;
            width: 100%;
        }
        .assetinfo-frame {
            order: 0;
            width: 100%;
        }
        .myorders-frame {
            order: 1;
            width: 100%;
        }
        .auctions-frame {
            order: 1;
        }
    }
    @media screen and (max-width: $phoneWidth) {
        .selectmarket-frame {
            .recents-frame {
                max-height: 80px;
            }
        }
        .myorders-frame {
            .labels-row {
                flex-wrap: wrap;
                .cell { margin: 10px 0 }
            }
            .row {
                flex-wrap: wrap;
            }
            .open-asset-cell { width: 40% }
            .open-side-cell { width: 20%; margin: 10px 0; }
            .open-price-cell { width: 40% }
            .open-amount-cell { width: 70%; text-align: center; }
            .open-cancel-cell { width: 30% }
            .history-asset-cell { width: 40% }
            .history-side-cell { width: 20%; margin: 10px 0; }
            .history-price-cell { width: 40% }
            .history-amount-cell { width: 70%; text-align: center; }
            .history-status-cell { width: 30% }
        }
    }
}
sales-tab {
    .tab-frame {
        position: relative;
        padding: 10px 10px 80px 10px;
        min-height: 300px; // spinner位置調整
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: flex-start;
    }
    .search-frame {
        position: relative;
        width: 100%;
        height: 56px;
        .input-frame {
            display: inline-block;
            position: relative;
            width: 400px;
            .clearbutton-frame {
                position: absolute;
                top: 4px;
                right: 4px;
            }
        }
        .chips-frame {
            display: inline-block;
            width: calc(100% - 410px);
            max-height: 56px;
            margin-left: 10px;
            line-height: 56px;
            vertical-align: top;
            overflow: hidden;
            .chip-frame {
                display: inline-block;
                margin-left: 10px;
                vertical-align: middle;
            }
        }
    }
    .sales-frame {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        .sales-item {
            position: relative;
            width: 240px;
            height: calc(240px * 1.4285);
            max-width: calc(33.3vw - 13.5px);
            max-height: calc((33.3vw - 13.5px) * 1.4285);
            border-radius: 3px;
            background-color: $bgColor2;
            overflow: hidden;
            content-visibility: auto;
            .card-img {
                display: block;
                position: absolute;
                box-sizing: border-box;
                top: 0;
                width: 100%;
                border-radius: 3px;
                &.square {
                    margin: 16% 10%;
                    width: 80%;
                }
            }
            .texts {
                position: absolute;
                box-sizing: border-box;
                bottom: 0;
                right: 0;
                width: calc(100% - 8px);
                margin: 4px;
                padding: 6px 8px;
                background-color: rgba($bgColor, 0.5);
                backdrop-filter: blur(2px);
                border-radius: 2px;
                text-align: right;
                .name {
                    font-size: 17px;
                }
                .nft-id {
                    font-size: 12px;
                }
                .price {
                    font-size: 17px;
                    .price-unit {
                        font-size: 76%;
                    }
                    .material-icons {
                        vertical-align: middle;
                        font-size: 120%;
                    }
                }
            }
            .opt-icon {
                position: absolute;
                box-sizing: border-box;
                right: 4px;
                padding: 8px;
                background-color: rgba($bgColor, 0.5);
                backdrop-filter: blur(2px);
                border-radius: 2px;
                .material-icons {
                    font-size: 22px;
                    vertical-align: middle;
                }
            }
            .wallet-icon {
                top: 4px;
            }
            .attachment-icon {
                top: 47px;
            }
        }
    }
    @media screen and (max-width: $pcWidthMinus1) {
        .search-frame {
            height: auto;
            .input-frame {
                width: 100%;
                display: block;
            }
            .chips-frame {
                width: calc(100% + 10px);
                margin: 4px 0 0 -10px;
                max-height: 80px;
                line-height: 40px;
            }
        }
    }
    @media screen and (max-width: $phoneWidth) {
        .sales-frame {
            .sales-item {
                max-width: calc(50vw - 15px);
                max-height: calc((50vw - 15px) * 1.4285);
            }
        }
    }
}
base-body {
    .body-frame {
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
    .body-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        height: 62px;
        background-color: rgba($bgColor, 0.6);
        backdrop-filter: blur(2px);
        @supports not (backdrop-filter: blur(2px)) {
            background-color: rgba($bgColor, 0.9);
        }
    }
    .body-content {
        position: absolute;
        top: 62px;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
    }
    .body-title {
        margin: 0;
        padding: 0 0 0 22px;
        height: 62px;
        text-align: left;
        line-height: 62px;
        font-size: 26px;
        font-weight: $basicFontWeight;
        white-space: nowrap;
        .body-title-logo {
            margin: 0 10px 0 -6px;
            width: 40px;
            height: 40px;
            vertical-align: middle;
        }
    }
    .body-address {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}
base-pagecontroller {
    .pagecontroller-frame {
        margin: 0;
        padding: 0;
        position: relative;
    }
}
material-button {
    .mdc-button {
        vertical-align: middle;
        text-transform: none;
        -webkit-font-smoothing: auto;
        @if $materialFontFamily { font-family: $materialFontFamily; }
        @if $materialFontWeight { font-weight: $materialFontWeight; }
        @include button.height(42px);
        @include button.shape-radius(3px);
        @include button.horizontal-padding(14px);
        @include button.outline-color($accentColor);
        &.mdccustom-button-white {
            --mdc-theme-primary: white;
        }
        &.mdccustom-button-fullwidth {
            box-sizing: border-box;
            width: 100%;
        }
    }
}
material-checkbox {
    .mdc-checkbox {
        vertical-align: middle;
    }
    .mdccustom-label {
        font-size: 16px;
        vertical-align: middle;
        -webkit-font-smoothing: auto;
        @if $materialFontFamily { font-family: $materialFontFamily; }
        @if $materialFontWeight { font-weight: $materialFontWeight; }
    }
}
material-chip {
    .mdc-chip {
        vertical-align: middle;
    }
    .mdc-chip__text {
        -webkit-font-smoothing: auto;
        @if $materialFontFamily { font-family: $materialFontFamily; }
        @if $materialFontWeight { font-weight: $materialFontWeight; }
    }
}
material-iconbutton {
    .mdc-icon-button {
        vertical-align: middle;
        @include icon-button.ink-color($accentColor);
        &.mdccustom-iconbutton-white {
            @include icon-button.ink-color(white);
        }
    }
}
material-radiobuttons {
    .mdc-form-field {
        &.mdccustom-formfield-block {
            display: block;
        }
    }
    .mdc-radio {
        vertical-align: middle;
    }
    .mdccustom-label {
        margin-right: 12px;
        font-size: 16px;
        vertical-align: middle;
        -webkit-font-smoothing: auto;
        @if $materialFontFamily { font-family: $materialFontFamily; }
        @if $materialFontWeight { font-weight: $materialFontWeight; }
    }
}
material-select {
    .mdc-select {
        width: 200px;
        &.mdccustom-select-fullwidth {
            width: 100%;
        }
        .mdc-floating-label {
            -webkit-font-smoothing: auto;
            @if $materialFontFamily { font-family: $materialFontFamily; }
            @if $materialFontWeight { font-weight: $materialFontWeight; }
        }
        .mdc-select__selected-text {
            -webkit-font-smoothing: auto;
            @if $materialFontFamily { font-family: $materialFontFamily; }
            @if $materialFontWeight { font-weight: $materialFontWeight; }
        }
        .mdc-list-item__text {
            -webkit-font-smoothing: auto;
            @if $materialFontFamily { font-family: $materialFontFamily; }
            @if $materialFontWeight { font-weight: $materialFontWeight; }
        }
    }
}
material-switch {
    .mdc-switch {
        margin: 13px 0;
        vertical-align: middle;
    }
    .mdccustom-label {
        margin-left: 6px;
        font-size: 16px;
        vertical-align: middle;
        -webkit-font-smoothing: auto;
        @if $materialFontFamily { font-family: $materialFontFamily; }
        @if $materialFontWeight { font-weight: $materialFontWeight; }
    }
}
material-tabbar {
    .mdc-tab__text-label {
        text-transform: none;
        -webkit-font-smoothing: auto;
        @if $materialFontFamily { font-family: $materialFontFamily; }
        @if $materialFontWeight { font-weight: $materialFontWeight; }
    }
}
material-textfield {
    .mdc-text-field {
        width: 100%;
        @include textfield.shape-radius(3px);
        @include textfield.outline-shape-radius(4px);
        @include textfield.textarea-shape-radius(4px);
        .mdc-text-field__input,.mdc-floating-label {
            -webkit-font-smoothing: auto;
            @if $materialFontFamily { font-family: $materialFontFamily; }
            @if $materialFontWeight { font-weight: $materialFontWeight; }
        }
        textarea {
            resize: none;
        }
    }
    .mdc-text-field-helper-line {
        margin-bottom: -20px;
        .mdc-text-field-helper-text,.mdc-text-field-character-counter {
            -webkit-font-smoothing: auto;
            @if $materialFontFamily { font-family: $materialFontFamily; }
            @if $materialFontWeight { font-weight: $materialFontWeight; }
        }
    }
}
util-qrcode {
    .svg-frame {
        width: 100%;
        height: 100%;
        min-width: 40px;
        min-height: 40px;
    }
}
util-spinner {
    .spinner-frame {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 100vh;
        &.spinner-frame-fulldisplay {
            position: fixed;
            z-index: 20000;
        }
    }
}
