<base-pagecontroller>

<div ref="frame" class="pagecontroller-frame">
    <markets-page if={ page === 'markets' } tab={ pageParams[0] } asset1={ pageParams[1] }></markets-page>
</div>

<script>
    route('/', () => { this.changePage('markets', 'SALES') });
    route('/sales', () => { if (this.page !== 'markets') this.changePage('markets', 'SALES') });
    route('/offers', () => { if (this.page !== 'markets') this.changePage('markets', 'OFFERS') });
    route('/orderbook', () => { if (this.page !== 'markets') this.changePage('markets', 'ORDERBOOK') });
    route('/orderbook/*', (param1) => {
        if (this.page !== 'markets') this.changePage('markets', 'ORDERBOOK', decodeURIComponent(param1));
    });
    route('/..', () => { route('/') });
    route.start(true);

    const _onChangePage = opts.on_changepage;
    this.page = opts.page || '';

    this.changePage = (page, ...pageParams) => {
        if (swal.getState().isOpen) swal.close();
        const frame = this.refs.frame;
        if (_onChangePage) _onChangePage();
        frame.style.pointerEvents = 'none';
        frame.style.opacity = '0.0';
        window.scrollTo(0, 0);
        this.page = page;
        this.pageParams = pageParams;
        this.update();
        TweenLite.to(frame, 0.5, {
            opacity: '1.0',
            onComplete: () => { frame.style.pointerEvents = 'auto'; },
        });
    };
</script>

</base-pagecontroller>
