<base-body>

<div ref="body" class="body-frame">
    <div class="body-content">
        <base-pagecontroller on_changepage={ onChangePage }></base-pagecontroller>
    </div>
    <div class="body-header">
        <h1 class="body-title"><img if={ !subscript } src={ TagG.RELATIVE_URL_BASE + 'img/gori_80.png' } class="body-title-logo clickable" loading="lazy" onclick={ onClickLogo }><span class="clickable" onclick={ onClickLogo }>GoriFi</span></h1>
        <div if={ !TagG.address } class="body-address"><material-button label="Connect Wallet" on_click={ onClickConnectWalletButton } is_unelevated="true"></material-button></div>
        <div if={ TagG.address } class="body-address"><material-button label={ TagG.shortenAddr } icon="account_balance_wallet" on_click={ onClickShowWalletButton }></material-button></div>
    </div>
    <util-spinner ref="spinner" is_fulldisplay="true"></util-spinner>
</div>

<div ref="swalwindows_container" show={ false }>
    <div ref="about_window">
        <div class="basic">
            <span if={ TagG.jp }>MonapartyのDEX体験をハッピーにするゴリファイです</span>
            <span if={ !TagG.jp }>This is GoriFi to make your Monaparty DEX experience happy!</span>
        </div>
        <div class="section">
            <div class="basic">Don't Trust. Verify.</div>
            <div class="basic"><material-button label="Code Repository" icon="code" is_link="true" link_href="https://bitbucket.org/anipopina/gorifi/" link_target="_blank"></material-button></div>
        </div>
        <div class="section">
            <div class="basic">
                <span if={ TagG.jp }>GoriFiのロゴの元となった素敵ゴリラ</span>
                <span if={ !TagG.jp }>The lovely gorilla from which the GoriFi logo was derived:</span>
            </div>
            <img class="gorilla-img" src={ TagG.RELATIVE_URL_BASE + 'img/gorilla.png' } loading="lazy">
            <div class="basic"><material-button label="ゴリラ@ぴよたそ" icon="local_florist" is_link="true" link_href="https://hiyokoyarou.com/gorilla/" link_target="_blank"></material-button></div>
        </div>
        <div class="section">
            <div class="basic">Monaparty Servers:</div>
            <div class="basic" each={ monapaServers }><a href={ url } target="_blank">{ host }</a></div>
        </div>
        <div class="section">
            <div class="basic">
                <span if={ TagG.jp }>MONAでもXMPでもその他でもこちらのアドレスに寄付してくれると開発運営が捗ります</span>
                <span if={ !TagG.jp }>Donations of MONA, XMP, or any tokens can be made to the address below:</span>
            </div>
            <div class="qrcode"><util-qrcode qr_value={ TagG.DONATION_ADDR }></util-qrcode></div>
            <div class="basic">{ TagG.DONATION_ADDR }</div>
        </div>
    </div>
    <div ref="addr_window">
        <div class="basic">{ TagG.address }</div>
        <div if={ TagG.address } class="qrcode"><util-qrcode qr_value={ TagG.address }></util-qrcode></div>
        <div class="basic"><i class="material-icons inline-icon">account_balance_wallet</i>&ensp;{ commafy(quoteAssetBalance) } { TagG.quoteAsset }</div>
        <div class="basic"><material-button label="MPCHAIN" icon="search" is_link="true" link_href={ TagG.addrExpURL } link_target="_blank" reload_opts="true"></material-button></div>
    </div>
</div>

<script>
    this.TagG = TagG;
    this.commafy = Util.commafy;
    this.onClickLogo = () => { Util.aOpenContentSwal(this.refs.about_window) };
    this.onClickConnectWalletButton = async() => {
        await TagG.aLoadWallet(true);
        if (!TagG.wallet) TagG.jp?
            myswal('ウォレットに接続できません', '有効なウォレットが検出できませんでした。モナパレットのAppConnectからこのサイトを開くか、ブラウザにMpurseをインストールしてください', 'warning'):
            myswal('Cannot connect wallet', 'A supported wallet could not be detected. Please open this page from Monapalette\'s AppConnect or install Mpurse in your browser.', 'warning');
    };
    this.onClickShowWalletButton = () => {
        this.quoteAssetBalance = TagG.qty2amount(TagG.asset2qty[TagG.quoteAsset] || 0, TagG.isQuoteAssetDivisible);
        this.update();
        Util.aOpenContentSwal(this.refs.addr_window);
    };
    this.on('mount', async() => {
        TagG.body = this;
        TagG.bodySpinner = this.refs.spinner;
        const container = this.refs.swalwindows_container;
        while (container && container.firstChild) container.removeChild(container.firstChild);
        const urls = await Monaparty.aGetEndpoints();
        this.monapaServers = urls.map(url => ({ url, host: (new URL(url).host) }));
        this.update();
    });
</script>

</base-body>
