base-body {
    .body-frame {
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
    .body-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        height: 62px;
        background-color: rgba($bgColor, 0.6);
        backdrop-filter: blur(2px);
        @supports not (backdrop-filter: blur(2px)) {
            background-color: rgba($bgColor, 0.9);
        }
    }
    .body-content {
        position: absolute;
        top: 62px;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
    }
    .body-title {
        margin: 0;
        padding: 0 0 0 22px;
        height: 62px;
        text-align: left;
        line-height: 62px;
        font-size: 26px;
        font-weight: $basicFontWeight;
        white-space: nowrap;
        .body-title-logo {
            margin: 0 10px 0 -6px;
            width: 40px;
            height: 40px;
            vertical-align: middle;
        }
    }
    .body-address {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}
