util-spinner {
    .spinner-frame {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 100vh;
        &.spinner-frame-fulldisplay {
            position: fixed;
            z-index: 20000;
        }
    }
}
